Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

chore(scripts): remove obsolete scripts and .env dependency
  .env
  .github/workflows/rust-check.yml
  README.md
  scripts/check-docker-env.sh
  scripts/docker-compose-wrapper.sh
  scripts/install-monarch.sh
  scripts/install.sh
  scripts/run-integration-tests.sh
Due: yaml-check, markdown-check

合并相关代码
  services/alarmsrv/.dockerignore
  services/alarmsrv/Dockerfile
  services/alarmsrv/packages/build_image.sh
  services/alarmsrv/packages/load_image.sh
  services/alarmsrv/packages/start.sh
  services/alarmsrv/packages/部署说明.md
  services/alarmsrv/requirements.txt
  services/apigateway/.dockerignore
  services/apigateway/Dockerfile
  services/apigateway/LICENSE
  services/apigateway/packages/build_image.sh
  services/apigateway/packages/load_image.sh
  services/apigateway/packages/start.sh
  services/apigateway/requirements.txt
  services/apigateway/start_websocket.sh
  services/hissrv/.dockerignore
  services/hissrv/Dockerfile
  services/hissrv/LICENSE
  services/hissrv/config/hissrv.yaml
  services/hissrv/packages/build_image.sh
  services/hissrv/packages/load_image.sh
  services/hissrv/packages/start.sh
  services/hissrv/requirements.txt
  services/netsrv/.dockerignore
  services/netsrv/Dockerfile
  services/netsrv/LICENSE
  services/netsrv/config/netsrv.yaml
  services/netsrv/packages/build_image.sh
  services/netsrv/packages/load_image.sh
  services/netsrv/packages/start.sh
  services/netsrv/packages/部署说明.md
  services/netsrv/requirements.txt
Due: yaml-check, markdown-check

feat(install): add safe database upgrade during installation
  scripts/install.sh
Due: none

refactor(monarch): simplify CLI by merging similar commands
  tools/monarch/data/comsrv.db
  tools/monarch/data/voltage.db
  tools/monarch/src/config.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/main.rs
Due: rust-fmt

feat(comsrv): add channel fuzzy search API
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/routes.rs
Due: rust-fmt

refactor(logging): unify console and file log format with [LEVEL] prefix
  libs/common/src/logging.rs
Due: rust-fmt

refactor: remove unused CAN protocol and fix health endpoint
  Cargo.lock
  libs/voltage-comlink/Cargo.toml
  libs/voltage-config/src/common.rs
  libs/voltage-config/src/protocols.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/utils.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/routes.rs
Due: rust-fmt, toml-check

fix: remove CAN feature from builds and fix CI script reference
  .github/workflows/rust-check.yml
  Dockerfile
  scripts/build-arm64-installer.sh
  scripts/offline/build-docker-arm64.sh
  services/comsrv/src/api/handlers/channel_management_handlers.rs
Due: rust-fmt, yaml-check

feat: unify service management with Monarch CLI
  README.md
  apps/Dockerfile
  apps/nginx.conf
  docker-compose.yml
  scripts/install.sh
  services/alarmsrv/packages/build_image.sh
  services/alarmsrv/packages/load_image.sh
  services/alarmsrv/packages/start.sh
  services/apigateway/packages/build_image.sh
  services/apigateway/packages/load_image.sh
  services/apigateway/packages/start.sh
  services/hissrv/packages/build_image.sh
  services/hissrv/packages/load_image.sh
  services/hissrv/packages/start.sh
  services/netsrv/packages/build_image.sh
  services/netsrv/packages/load_image.sh
  services/netsrv/packages/start.sh
  tools/monarch/src/services.rs
Due: rust-fmt, yaml-check, markdown-check

chore: bump version to 0.1.0 and add CHANGELOG
  CHANGELOG.md
  Cargo.lock
  libs/common/Cargo.toml
  libs/voltage-comlink/Cargo.toml
  libs/voltage-config/Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-rules/Cargo.toml
  services/comsrv/Cargo.toml
  services/modsrv/Cargo.toml
  tools/monarch/Cargo.toml
Due: toml-check, markdown-check

fix: correct channel config parameter extraction in reload and export
  libs/voltage-protocols/src/modbus/connection.rs
  services/comsrv/src/core/reload.rs
  services/comsrv/src/protocols/modbus.rs
  tools/monarch/src/core/exporter.rs
Due: rust-fmt

fix(ci): add --force flag to monarch install to handle cached binaries
  .github/workflows/rust-check.yml
Due: yaml-check

feat(logs): add dynamic log level switching via API and CLI
  libs/common/src/logging.rs
  libs/voltage-config/src/modsrv.rs
  scripts/install.sh
  services/comsrv/src/api/handlers/admin_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols/modbus.rs
  services/modsrv/src/api/admin_handlers.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/routes.rs
  services/modsrv/src/routing_loader.rs
  tools/monarch/src/logs.rs
  tools/monarch/src/main.rs
Due: rust-fmt

feat(health): add process-level CPU and memory metrics to health endpoints
  Cargo.lock
  libs/common/Cargo.toml
  libs/common/src/lib.rs
  libs/common/src/system_metrics.rs
  libs/voltage-config/src/api.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/routes.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/routes.rs
Due: rust-fmt, toml-check

refactor: remove unused Lua support and cleanup dependencies
  Cargo.lock
  Cargo.toml
  config.template/comsrv/comsrv.yaml
  config.template/global.yaml
  config.template/modsrv/calculations.yaml
  config.template/modsrv/instances/diesel_gen_01/instance.yaml
  config.template/modsrv/modsrv.yaml
  config.template/modsrv/rules/battery_soc_management.json
  config.template/modsrv/rules/motor_control.yaml
  libs/voltage-config/src/calculations.rs
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/calculation.rs
  libs/voltage-model/src/lib.rs
  libs/voltage-rtdb/Cargo.toml
  services/modsrv/Cargo.toml
  services/modsrv/src/calculation_engine.rs
  tools/monarch/Cargo.toml
Due: rust-fmt, toml-check, yaml-check

refactor: consolidate error handling and extract shared deserializers
  docs/operations-log.md
  libs/common/src/lib.rs
  libs/common/src/serde_helpers.rs
  libs/common/src/warning_monitor.rs
  libs/voltage-config/src/calculations.rs
  libs/voltage-config/src/comsrv.rs
  libs/voltage-config/src/modsrv.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/traits.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/error.rs
  services/comsrv/src/main.rs
  services/comsrv/src/protocols/registry.rs
  services/comsrv/src/runtime/storage.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/error.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/redis_state.rs
  tools/monarch/src/core/file_utils.rs
  tools/monarch/src/utils.rs
Due: rust-fmt, markdown-check

feat(rtdb): add WriteBuffer for batched Redis writes
  libs/common/src/lib.rs
  libs/common/src/shutdown.rs
  libs/voltage-config/src/api.rs
  libs/voltage-config/src/comsrv.rs
  libs/voltage-config/src/serde_defaults.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/cleanup.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/time.rs
  libs/voltage-rtdb/src/traits.rs
  libs/voltage-rtdb/src/write_buffer.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/sync.rs
  services/comsrv/src/main.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/runtime/storage.rs
  services/comsrv/src/runtime/test_utils.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt

refactor(apigateway): simplify rule monitor WebSocket message format
  libs/voltage-rules/src/scheduler.rs
  services/apigateway/app/tasks/data_scheduler.py
  services/apigateway/app/websocket/websocket_manager.py
Due: rust-fmt

refactor(apigateway): unify WebSocket subscription message format
  services/apigateway/app/models/edge_data.py
  services/apigateway/app/websocket/websocket_manager.py
Due: none

refactor(modsrv): migrate product definitions from CSV to pure code
  libs/voltage-config/src/lib.rs
  libs/voltage-config/src/products.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/instance_lifecycle_test.rs
  services/modsrv/tests/routing_integration_test.rs
  tools/monarch/src/context.rs
Due: rust-fmt

chore: unify project versions and clean up redundant files
  README-CN.md
  README.md
  apps/package-lock.json
  services/alarmsrv/requirements.txt
  services/comsrv/Cargo.toml
  services/hissrv/Dockerfile
  services/hissrv/requirements.txt
  services/netsrv/Dockerfile
  services/netsrv/requirements.txt
Due: toml-check, markdown-check

fix(apigateway): rule unsubscribe now properly stops data push
  services/apigateway/app/tasks/data_scheduler.py
Due: none

feat(api): add lightweight list endpoints and global points query
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/routes.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/routes.rs
Due: rust-fmt

refactor(libs): consolidate type definitions and remove dead code
  Cargo.lock
  libs/common/src/error.rs
  libs/common/src/lib.rs
  libs/voltage-config/Cargo.toml
  libs/voltage-config/src/common.rs
  libs/voltage-config/src/products.rs
  libs/voltage-config/src/protocols.rs
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/error.rs
  libs/voltage-model/src/expression.rs
  libs/voltage-model/src/lib.rs
  libs/voltage-model/src/products.rs
  libs/voltage-model/src/timeseries.rs
  libs/voltage-model/src/types.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/error.rs
  services/comsrv/src/runtime/storage.rs
  services/comsrv/src/utils.rs
  services/modsrv/src/routing_loader.rs
Due: rust-fmt, toml-check

refactor(modsrv): remove hardcoded product definitions, add cloud sync API
  .github/workflows/rust-check.yml
  libs/voltage-model/src/lib.rs
  libs/voltage-model/src/products.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/src/routes.rs
Due: rust-fmt, yaml-check

fix(services): unify database path resolution via ServiceArgs
  services/comsrv/src/main.rs
  services/modsrv/src/bootstrap.rs
Due: rust-fmt

refactor(types): move PointRole from common to voltage-model
  libs/common/src/lib.rs
  libs/common/src/service_config.rs
  libs/voltage-model/src/lib.rs
  libs/voltage-model/src/types.rs
  services/modsrv/src/config.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/product_loader.rs
Due: rust-fmt

refactor(types): move KeySpaceConfig from voltage-rtdb to voltage-model
  libs/voltage-model/src/keyspace.rs
  libs/voltage-model/src/lib.rs
  libs/voltage-rtdb/src/keyspace.rs
Due: rust-fmt

refactor(protocols): remove unnecessary dependency on common
  Cargo.lock
  libs/voltage-protocols/Cargo.toml
  libs/voltage-protocols/src/modbus/types.rs
Due: rust-fmt, toml-check

refactor(libs): extract voltage-infra from common library
  Cargo.lock
  Cargo.toml
  libs/common/Cargo.toml
  libs/common/src/lib.rs
  libs/voltage-infra/Cargo.toml
  libs/voltage-infra/src/lib.rs
  libs/voltage-infra/src/redis.rs
  libs/voltage-infra/src/sqlite.rs
  libs/voltage-infra/src/sqlite/client.rs
  libs/voltage-infra/src/sqlite/service_config.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/redis_impl.rs
  services/comsrv/tests/service_integration_test.rs
Due: rust-fmt, toml-check

refactor: clean up code organization and reduce dependencies
  Cargo.lock
  Cargo.toml
  libs/common/src/admin_api.rs
  libs/voltage-calc/Cargo.toml
  libs/voltage-comlink/Cargo.toml
  libs/voltage-comlink/src/traits.rs
  libs/voltage-routing/Cargo.toml
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-routing/src/loader.rs
  libs/voltage-rtdb/src/keyspace.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-schema-macro/Cargo.toml
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/core/bootstrap.rs
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/sync.rs
  services/comsrv/src/core/reload.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/main.rs
  services/comsrv/src/runtime/storage.rs
  services/comsrv/src/runtime/test_utils.rs
  services/comsrv/tests/routing_c2c_test.rs
  services/comsrv/tests/routing_c2m_test.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_redis_sync.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/product_loader.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/context.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/rules.rs
Due: rust-fmt, toml-check

fix(comsrv): read actual reverse field from control_points table
  services/comsrv/src/api/handlers/point_handlers.rs
Due: rust-fmt

fix(modsrv): correct rule ID type and enable openapi feature
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/protocols/dido.rs
  services/comsrv/tests/dido_integration.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/rule_routes.rs
Due: rust-fmt, toml-check

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
