Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

refactor(shm): declare SlotIo trait — pure-infra SHM contract in core/
  libs/voltage-rtdb-shm/src/core.rs
  libs/voltage-rtdb-shm/src/core/slot_io.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

fix(shm): address code review — SlotIo read-only contract, even gen seed, compat shims
  libs/voltage-rtdb-shm/src/core/slot_io.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

refactor(shm): extract SlotWriter — UnifiedWriter now composes pure-infra core
  libs/voltage-rtdb-shm/src/core.rs
  libs/voltage-rtdb-shm/src/core/writer.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

refactor(shm): extract SlotReader + move snapshot helpers into core/
  libs/voltage-rtdb-shm/src/core.rs
  libs/voltage-rtdb-shm/src/core/reader.rs
  libs/voltage-rtdb-shm/src/core/snapshot_save.rs
  libs/voltage-rtdb-shm/src/core/writer.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

fix(shm): address code-review on SlotReader/SlotWriter extraction
  libs/voltage-rtdb-shm/src/core/reader.rs
  libs/voltage-rtdb-shm/src/core/slot_io.rs
  libs/voltage-rtdb-shm/src/core/writer.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

chore(workspace-hack): regenerate after voltage-rtdb-shm core/ refactor
  workspace-hack/Cargo.toml
Due: toml-check

feat(shm): per-generation file mechanism for Step 3 atomic-swap reload
  libs/voltage-rtdb-shm/src/core/config.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/tests/test_generation_swap.rs
Due: rust-fmt

chore(deps): update Cargo.lock for workspace-hack zerocopy entry
  Cargo.lock
Due: none

feat(shm): ShmHandle::rebuild_via_swap — Step 3 PR 2 (additive)
  libs/voltage-rtdb-shm/src/shm_handle.rs
Due: rust-fmt

fix(comsrv): update routes tests for SHM-aware /health + fail-closed C/A writes
  services/comsrv/src/api/routes_tests.rs
Due: rust-fmt

fix(comsrv): align c2c raw-value tests with intentional drop-raw design
  services/comsrv/tests/test_routing_c2c.rs
  services/comsrv/tests/test_routing_c2c_cascade.rs
Due: rust-fmt

fix(monarch): close transactions on v5 early-return paths; v6 fresh-DB guards
  tools/monarch/src/core/schema.rs
  tools/monarch/src/main.rs
Due: rust-fmt

fix(monarch): remove stale instances.properties column from syncer/exporter; fix test props
  services/modsrv/tests/test_instance_crud_complete.rs
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

fix(modsrv): use template properties in integration fixtures
  services/modsrv/tests/common.rs
Due: rust-fmt

fix(comsrv): unbreak CI — update routes tests for SHM-aware health + fail-closed C/A writes (#96)
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/tests/test_routing_c2c.rs
  services/comsrv/tests/test_routing_c2c_cascade.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/test_instance_crud_complete.rs
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/main.rs
Due: rust-fmt

feat(shm): Step 3 PR 2 — switch ShmHandle::rebuild to atomic-swap + modsrv inode watcher
  libs/voltage-rtdb-shm/src/shm_handle.rs
  services/comsrv/src/store/shm_redis_sync.rs
  services/modsrv/src/main.rs
Due: rust-fmt

feat(shm): Step 3 PR 3 — remove legacy reconfigure_existing + orphan cleanup
  libs/voltage-rtdb-shm/src/core/config.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/comsrv/src/main.rs
Due: rust-fmt

feat(shm): Step 3 PR 2 — switch ShmHandle::rebuild to atomic-swap + modsrv inode watcher (#94)
  libs/voltage-rtdb-shm/src/shm_handle.rs
  services/comsrv/src/store/shm_redis_sync.rs
  services/modsrv/src/main.rs
Due: rust-fmt

feat(shm): Step 3 PR 3 — remove legacy reconfigure_existing + orphan cleanup (#95)
  libs/voltage-rtdb-shm/src/core/config.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/comsrv/src/main.rs
Due: rust-fmt

fix(ci): use correct monarch export command syntax (was: 'export all' with unknown subcommand)
  .github/workflows/rust-check.yml
Due: yaml-check

fix(ci): use correct monarch export command syntax (was: 'export all' with unknown subcommand) (#97)
  .github/workflows/rust-check.yml
Due: yaml-check

docs: add Redis removal strategy analysis
  docs/plans/2026-05-24-redis-removal-strategy.md
Due: markdown-check

docs+bench: PointWatch design + Redis removal B3 + control chain baseline
  Cargo.lock
  docs/plans/2026-05-24-redis-removal-strategy.md
  docs/plans/2026-05-28-point-watch-design.md
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/benches/BASELINE.md
  libs/voltage-rtdb-shm/benches/control_chain.rs
Due: rust-fmt, toml-check, markdown-check

feat(rules): replace Redis HMGET in OnChange snapshot with SHM direct read
  libs/voltage-rules/src/scheduler.rs
Due: rust-fmt

feat(rtdb-shm,rules): implement PointWatch event-driven SHM notification
  Cargo.lock
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/point_watch.rs
  libs/voltage-rtdb-shm/src/point_watch_event.rs
  libs/voltage-rtdb-shm/src/point_watch_listener.rs
  libs/voltage-rtdb-shm/src/shared_config.rs
  libs/voltage-rtdb-shm/src/subscription_bitmap.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/point_watch_dispatcher.rs
  libs/voltage-rules/src/scheduler.rs
Due: rust-fmt, toml-check

feat(comsrv,modsrv): wire PointWatch bootstrap into service main loops
  libs/voltage-rtdb-shm/src/shm_handle.rs
  services/comsrv/src/main.rs
  services/modsrv/src/main.rs
Due: rust-fmt

perf(routing,shm): add reverse C2M index for O(1) instance->channel lookup
  libs/voltage-routing/src/routing_cache.rs
  libs/voltage-rtdb-shm/benches/control_chain.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

bench: add ECU-1170 ARM64 production hardware baseline
  libs/voltage-rtdb-shm/benches/BASELINE.md
  libs/voltage-rtdb-shm/benches/ecu1170-arm64-results.txt
Due: markdown-check

feat(rules,modsrv): rebuild PointWatch subscriptions on reload_rules
  libs/voltage-rules/src/scheduler.rs
  libs/voltage-rules/tests/test_reload_rebuilds_pointwatch.rs
  services/modsrv/src/main.rs
Due: rust-fmt

bench: add PointWatch end-to-end latency bench + ECU-1170 results
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/benches/BASELINE.md
  libs/voltage-rtdb-shm/benches/ecu1170-arm64-pointwatch-e2e.txt
  libs/voltage-rtdb-shm/benches/pointwatch_e2e.rs
Due: rust-fmt, toml-check, markdown-check

fix(rules,modsrv): replace expect() with poison-recovery on PointWatch mutex
  libs/voltage-rules/src/scheduler.rs
  services/modsrv/src/main.rs
Due: rust-fmt

chore: release v0.4.0 — sub-millisecond event plane
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: toml-check, markdown-check

Code style
  libs/voltage-model/src/sunspec.rs
  services/comsrv/src/protocols/sunspec.rs
Due: rust-fmt

fix: validate SHM slot region size and restrict M2C UDS socket perms
  libs/voltage-shm/src/mmap.rs
  services/comsrv/src/core/channels/shm_listener.rs
Due: rust-fmt

refactor: enforce SHM writer ownership and rules dual-column invariant at the type level
  libs/voltage-rtdb-shm/benches/control_chain.rs
  libs/voltage-rtdb-shm/src/dispatch.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/shm_handle.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/parser.rs
  libs/voltage-rules/src/repository.rs
  services/modsrv/src/main.rs
  services/modsrv/src/rule_routes.rs
  services/modsrv/tests/test_shm_dispatch.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

docs: align CLAUDE.md with verified architecture facts
  CLAUDE.md
Due: markdown-check

perf: eliminate false sharing at SHM writer-ownership boundaries
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/benches/false_sharing.rs
  libs/voltage-rtdb-shm/src/layout.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/comsrv/src/store/shm_redis_sync.rs
Due: rust-fmt, toml-check

test: verify cache-line padding on the real layout (layout_boundary bench)
  libs/voltage-rtdb-shm/benches/false_sharing.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
