Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

feat(voltage-calc): add period_delta function for cumulative value tracking
  Cargo.lock
  libs/voltage-calc/Cargo.toml
  libs/voltage-calc/src/builtin_functions.rs
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-calc/src/lib.rs
  libs/voltage-calc/src/state.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/parser.rs
  libs/voltage-rules/src/scheduler.rs
  libs/voltage-rules/src/types.rs
  scripts/build-installer.sh
  services/modsrv/Cargo.toml
  services/modsrv/src/main.rs
  services/modsrv/src/rule_routes.rs
Due: rust-fmt, toml-check

docs(comsrv): add MQTT/HTTP connection config documentation
  config.template/comsrv/comsrv.yaml
  docs/CONFIG_FORMAT_GUIDE.md
  services/comsrv/src/api/handlers/network_handlers.rs
  services/comsrv/src/protocols/adapters/http.rs
  services/comsrv/src/protocols/adapters/mqtt.rs
  services/comsrv/src/protocols/core.rs
  services/comsrv/src/protocols/core/json_mapper.rs
Due: rust-fmt, yaml-check, markdown-check

feat(comsrv): add MQTT and HTTP protocol adapters
  Cargo.lock
  Cargo.toml
  libs/voltage-core/src/types.rs
  libs/voltage-rtdb/src/ring_buffer.rs
  libs/voltage-shm/src/raw_ptr.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/config.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/gateway/factory.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt, toml-check

fix: integrate ValidationConfig at data flow boundaries
  libs/voltage-model/src/validation.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/routing_cache.rs
  libs/voltage-rtdb/src/unified_shm.rs
  libs/voltage-rtdb/src/vec_impl.rs
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/src/executor.rs
  services/comsrv/src/core/channels/shm_listener.rs
Due: rust-fmt, toml-check

fix(voltage-rtdb): export NotifyResult and update notify() signature
  Cargo.lock
  libs/voltage-model/src/lib.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/notifier.rs
  services/modsrv/tests/test_uds_notification.rs
Due: rust-fmt

fix: update Vite configuration and remove unused assets
  apps/src/assets/fonts/Arimo-Italic-VariableFont_wght.woff2
  apps/src/assets/icons/ai_assistant.svg
  apps/src/assets/icons/button-back.svg
  apps/src/assets/icons/button-change.svg
  apps/src/assets/icons/button-fenzhi.svg
  apps/src/assets/icons/button-point.svg
  apps/src/assets/styles/element/ele-date-picker.scss
  apps/src/assets/styles/element/ele-form.scss
  apps/src/assets/styles/element/ele-input.scss
  apps/src/assets/styles/element/ele-table.scss
  apps/src/router/dynamic-routes.ts
  apps/src/types/channelConfiguration.ts
  apps/src/types/controlManagement.ts
  apps/src/types/ruleManagement.ts
  apps/src/views/Alarm/AlarmCurrentRecords/index.vue
  apps/src/views/Alarm/AlarmHistoryRecords/index.vue
  apps/src/views/Alarm/RulesManagement/RulesOperationForm.vue
  apps/src/views/Alarm/RulesManagement/index.vue
  apps/src/views/Control/ControlManagement/RulesOperationForm.vue
  apps/src/views/Control/ControlManagement/index.vue
  apps/src/views/Control/ControlRecord/index.vue
  apps/src/views/HomeView/index.vue
  apps/src/views/Setting/Configuration/ChannelConfiguration/components/ChannelDetailDialog.vue
  apps/vite.config.ts
Due: none

fix: update Vite configuration and modify UserOperationForm label
  apps/src/views/Setting/UserManagement/UserOperationForm.vue
  apps/vite.config.ts
Due: none

refactor(monarch): simplify to HTTP-only mode, remove lib-mode
  .githooks/pre-commit
  tools/monarch/Cargo.toml
  tools/monarch/src/channels.rs
  tools/monarch/src/context.rs
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/validator.rs
  tools/monarch/src/lib_api/channels.rs
  tools/monarch/src/lib_api/models.rs
  tools/monarch/src/lib_api/rules.rs
  tools/monarch/src/main.rs
  tools/monarch/src/models.rs
  tools/monarch/src/rtdb.rs
  tools/monarch/src/rules.rs
  tools/monarch/src/services.rs
Due: rust-fmt, toml-check

feat(comsrv): add channel ID modification API
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/routes_tests.rs
Due: rust-fmt

perf(voltage-rtdb): remove prefault_pages to fix startup timeout
  libs/voltage-rtdb/src/unified_shm.rs
Due: rust-fmt

添加配置导入导出及升级功能，去除alarmsrv的部分参数限制
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/alarmsrv/app/core/database.py
  services/alarmsrv/app/models/alert_rule.py
  services/apigateway/app/routers/config.py
  services/apigateway/main.py
  services/python-services/Dockerfile
Due: yaml-check

fix bug
  services/apigateway/app/routers/config.py
Due: none

feat(comsrv): add channel name Redis cache and preserve protocol_mappings on upsert
  libs/voltage-model/src/keyspace.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
Due: rust-fmt

feat(comsrv): enhance logging, auto-reconnect, and channel management
  Cargo.lock
  docs/architecture/openclaw-comparison.md
  libs/voltage-model/src/keyspace.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/core/file_logging.rs
  services/comsrv/src/protocols/core/logging.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/runtime/reconnect.rs
Due: rust-fmt, toml-check, markdown-check

websocket添加时间戳
  services/apigateway/app/core/edge_data_client.py
  services/apigateway/app/tasks/data_scheduler.py
  services/apigateway/app/websocket/websocket_manager.py
Due: none

refactor: update device monitoring components and styles
  apps/components.d.ts
  apps/nginx.conf
  apps/src/assets/styles/device-monitoring-scroller.scss
  apps/src/components/device/DeviceMonitoringTable.vue
  apps/src/types/deviceMonitoring.ts
  apps/src/utils/common.ts
  apps/src/views/Devices/DeviceBattery/BatteryValue.vue
  apps/src/views/Devices/DeviceMeter1/index.vue
  apps/src/views/Devices/DeviceMeter2/index.vue
  apps/src/views/Devices/DevicesPV/PVValueMonitoring.vue
  apps/src/views/Devices/DieselGenerator/DieselValueMonitoring.vue
Due: none

fix: update channel IDs for DeviceMeter components
  apps/src/views/Devices/DeviceMeter1/index.vue
  apps/src/views/Devices/DeviceMeter2/index.vue
Due: none

fix: resolve pre-existing test failures
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/shared_impl.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/tests/test_product_api.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt

refactor(voltage-rtdb): extract SHM zero-dep modules to voltage-rtdb-shm
  Cargo.lock
  Cargo.toml
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/src/instance_index.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/notification.rs
  libs/voltage-rtdb-shm/src/notifier.rs
  libs/voltage-rtdb-shm/src/ring_buffer.rs
  libs/voltage-rtdb-shm/src/slot_bitmap.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/lib.rs
Due: rust-fmt, toml-check

refactor(voltage-rtdb): remove unused Rtdb trait methods
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/traits.rs
Due: rust-fmt

test: add batch_direct and routing_cache integration tests
  libs/voltage-routing/tests/test_routing_cache.rs
  libs/voltage-rtdb-shm/tests/test_batch_direct.rs
Due: rust-fmt

docs: fix rustdoc warnings for unclosed HTML tags
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb/src/numfmt.rs
  libs/voltage-rtdb/src/write_buffer.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/protocols/adapters/iec104.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/instance_manager.rs
  tools/monarch/src/shm.rs
  tools/simulator/src/coils.rs
Due: rust-fmt

fix(logging): enforce log retention and prevent disk overflow
  docker-compose.yml
  libs/common/src/logging.rs
  services/apigateway/main.py
  services/comsrv/src/core/bootstrap.rs
Due: rust-fmt, yaml-check

fix(modsrv): parameterize SQL query to prevent injection
  services/modsrv/src/main.rs
Due: rust-fmt

fix(comsrv): prevent CAN client deadlock and clarify protocol safety
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/modbus.rs
Due: rust-fmt

refactor(comsrv): split point_handlers.rs into module directory
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_batch_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_crud_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_helpers.rs
  services/comsrv/src/api/handlers/point_handlers/point_query_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_types.rs
Due: rust-fmt

feat(voltage-model): add PVInverter product and align product names
  config.template/modsrv/instances.yaml
  libs/voltage-model/src/product_lib.rs
Due: rust-fmt, yaml-check

refactor(voltage-rtdb-shm): simplify ChannelToSlotIndex to slot indices
  libs/voltage-infra/src/redis.rs
  libs/voltage-rtdb-shm/src/batch_direct.rs
  libs/voltage-rtdb-shm/src/shared_config.rs
Due: rust-fmt

refactor(modsrv): replace ghost table SQL with in-memory product lookups
  services/modsrv/src/cleanup_provider.rs
  services/modsrv/src/config.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/test_config.rs
Due: rust-fmt

feat: propagate rule_name in exec results and normalize legacy product names
  libs/voltage-rules/src/scheduler.rs
  services/apigateway/app/tasks/data_scheduler.py
  services/apigateway/app/websocket/websocket_manager.py
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

docs: add competitive benchmarking analysis for VoltageEMS
  docs/benchmarking.md
Due: markdown-check

feat(voltage-model): add runtime ProductLibrary with external JSON overrides
  Cargo.lock
  libs/voltage-infra/src/redis.rs
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/product_lib.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/traits.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/product_loader.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt, toml-check

feat: channel online status tracking, perf optimizations, and operational resilience
  libs/voltage-model/src/keyspace.rs
  libs/voltage-rtdb-shm/src/instance_index.rs
  libs/voltage-rtdb/src/write_buffer.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/main.rs
Due: rust-fmt

docs: comprehensive architecture docs, CI hardening, and Rust code cleanup
  .env.example
  .github/workflows/release.yml
  .github/workflows/rust-check.yml
  CHANGELOG.md
  CLAUDE.md
  README-CN.md
  README.md
  apps/README.md
  docs/API_REFERENCE.md
  docs/CONFIG_FORMAT_GUIDE.md
  docs/GETTING_STARTED_DEVELOPMENT.md
  libs/voltage-model/src/keyspace.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/lib.rs
  scripts/ci-e2e-test.sh
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/test_routing_m2c.rs
  services/modsrv/tests/test_routing_m2c_advanced.rs
  services/modsrv/tests/test_uds_notification.rs
Due: rust-fmt, yaml-check, markdown-check

ci: remove frontend-tests job from CI pipeline
  .github/workflows/rust-check.yml
Due: yaml-check

feat(modsrv): enforce instance topology hierarchy with cascade delete and topology API
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/config.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/src/reload.rs
  services/modsrv/src/routes.rs
  services/modsrv/tests/test_instance_crud_complete.rs
  services/modsrv/tests/test_instance_lifecycle.rs
  services/modsrv/tests/test_routing_integration.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

fix(voltage-rtdb-shm): seqlock fallback torn read + ringbuffer push guard
  libs/voltage-rtdb-shm/src/ring_buffer.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
Due: rust-fmt

fix(comsrv): remove panics, unwraps, and reconnect backoff blocking
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/protocols/gateway/address.rs
Due: rust-fmt

refactor(comsrv): extract state mapping, cleanup deprecated, macro to fn
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/error.rs
Due: rust-fmt
