Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

refactor(voltage-rtdb-shm): remove dead VecRtdb, RingBuffer, snapshot_info, health_check
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/notifier.rs
  libs/voltage-rtdb-shm/src/ring_buffer.rs
  libs/voltage-rtdb-shm/src/snapshot.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb-shm/tests/test_ring_buffer_ordering.rs
Due: rust-fmt

refactor(modsrv,libs): purge tombstone comments + zombie Redis writes + dead warning monitor
  libs/voltage-routing/src/batch.rs
  libs/voltage-rules/src/executor.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/api/product_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/routing_query_handlers.rs
  services/modsrv/src/config.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_state.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/test_config.rs
  services/modsrv/tests/test_instance_crud_complete.rs
Due: rust-fmt

fix(ci): remove dead CanMappingConfig exposed by Linux-only can feature
  services/comsrv/src/protocols/adapters/can/config.rs
Due: rust-fmt

fix(tests): remove trailing comma in calculations table DDL causing all 16 integration tests to fail
  services/modsrv/tests/common.rs
Due: rust-fmt

feat(monarch): CLI AI-agent integration + remote TUI dashboard
  Cargo.lock
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels/channel_entry.rs
  services/comsrv/src/core/channels/channel_task.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/channels.rs
  tools/monarch/src/doctor.rs
  tools/monarch/src/logs.rs
  tools/monarch/src/main.rs
  tools/monarch/src/models.rs
  tools/monarch/src/output.rs
  tools/monarch/src/rtdb.rs
  tools/monarch/src/rules.rs
  tools/monarch/src/templates.rs
  tools/monarch/src/top.rs
  tools/monarch/src/top_draw.rs
Due: rust-fmt, toml-check

docs: update README with new Monarch CLI features
  README-CN.md
  README.md
  tools/monarch/README.md
Due: markdown-check

ci: add cross-platform Monarch CLI release pipeline
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): use cross-action instead of cargo install cross
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): exclude monarch tags from main release workflow
  .github/workflows/release.yml
Due: yaml-check

feat(monarch): add install.sh with auto platform detection
  README-CN.md
  README.md
  tools/monarch/README.md
  tools/monarch/install.sh
Due: markdown-check

fix(ci): download cross binary instead of uses action
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): checkout submodules for product JSON files
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): disable Windows build, add cfg(unix) to ShmNotifier
  .github/workflows/monarch-release.yml
  libs/voltage-rtdb-shm/src/lib.rs
Due: rust-fmt, yaml-check

fix(ci): use shasum on macOS, use macos-14 for x86_64
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): use macos-latest for x86_64 darwin build
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): use macos-13 (Intel) for x86_64, add fail-fast: false
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): drop macOS x86_64, release even if some builds skipped
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): skip monarch tags in main release workflow via job condition
  .github/workflows/release.yml
Due: yaml-check

fix(ci): skip npm-publish when NPM_TOKEN not configured
  .github/workflows/monarch-release.yml
Due: yaml-check

fix(ci): check NPM_TOKEN at step level, not job level
  .github/workflows/monarch-release.yml
Due: yaml-check

Code Check fix
  services/netsrv/src/db_config.rs
  services/netsrv/src/device.rs
  services/netsrv/src/forwarder.rs
  services/netsrv/src/mqtt.rs
  services/netsrv/src/routes.rs
Due: rust-fmt

Code Check fix
  services/alarmsrv/src/broadcast.rs
  services/alarmsrv/src/db.rs
  services/alarmsrv/src/main.rs
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/monitor.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/config.rs
  services/apigateway/src/db.rs
  services/apigateway/src/main.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/routes_broadcast.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_homepage.rs
  services/apigateway/src/routes_network.rs
  services/apigateway/src/ws.rs
  services/hissrv/src/backend_pg.rs
  services/hissrv/src/backend_tsdb.rs
  services/hissrv/src/collector.rs
  services/hissrv/src/db_config.rs
  services/hissrv/src/main.rs
  services/hissrv/src/models.rs
  services/hissrv/src/routes.rs
  services/hissrv/src/scheduler.rs
Due: rust-fmt

Code Check fix
  services/hissrv/src/scheduler.rs
Due: rust-fmt

Code Check fix
  services/alarmsrv/src/db.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/ws.rs
Due: rust-fmt

Code Check fix
  services/alarmsrv/src/routes.rs
Due: rust-fmt

BUG fix
  services/alarmsrv/Dockerfile
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/monitor.rs
  services/hissrv/src/scheduler.rs
  services/netsrv/src/main.rs
  services/netsrv/src/mqtt.rs
  services/netsrv/src/routes.rs
  services/netsrv/src/state.rs
Due: rust-fmt

docs: update README and CHANGELOG for v1.0.0 release
  CHANGELOG.md
  README-CN.md
  README.md
Due: markdown-check

docs: rename release to v0.2.0
  CHANGELOG.md
Due: markdown-check

build: unify all crate versions to 0.2.0 via workspace inheritance
  Cargo.lock
  Cargo.toml
  firmware/Cargo.toml
  libs/common/Cargo.toml
  libs/errors/Cargo.toml
  libs/voltage-calc/Cargo.toml
  libs/voltage-core/Cargo.toml
  libs/voltage-infra/Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rules/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  libs/voltage-shm/Cargo.toml
  libs/voltage-sim/Cargo.toml
  services/alarmsrv/Cargo.toml
  services/apigateway/Cargo.toml
  services/comsrv/Cargo.toml
  services/hissrv/Cargo.toml
  services/modsrv/Cargo.toml
  services/netsrv/Cargo.toml
  tools/monarch/Cargo.toml
  tools/simulator/Cargo.toml
Due: toml-check

refactor: suppress monarch banner except for init command
  tools/monarch/src/main.rs
Due: rust-fmt

refactor: unify CI release pipeline and purge Python-era remnants
  .github/workflows/monarch-release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Dockerfile.multi
  docs/API_REFERENCE.md
  docs/GETTING_STARTED_DEVELOPMENT.md
  docs/benchmarking.md
  scripts/install.sh
  services/alarmsrv/Dockerfile
  services/apigateway/Dockerfile
  services/comsrv/.dockerignore
  services/hissrv/Dockerfile
  services/modsrv/.dockerignore
  services/netsrv/Dockerfile
  tools/monarch/src/services.rs
Due: rust-fmt, yaml-check, markdown-check

fix(shm): add writer_generation counter to detect comsrv restarts
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/modsrv/src/infra/shm_dispatch.rs
Due: rust-fmt

fix(shm): reduce UDS max backoff to 5s + add dropped command counter
  libs/voltage-rtdb-shm/src/notifier.rs
  services/comsrv/src/core/channels/shm_listener.rs
Due: rust-fmt

fix(shm): return None on seqlock retry exhaustion + debug_assert single-writer
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb-shm/tests/test_seqlock_dirty.rs
Due: rust-fmt

fix(modsrv): add dispatch degraded error code + UDS health status + fix seqlock comments
  libs/voltage-rtdb-shm/src/vec_impl.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/error.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
Due: rust-fmt

fix(monarch): sync rules with correct nodes_json via extract_rule_flow
  Cargo.lock
  libs/voltage-rules/src/lib.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/core/syncer.rs
Due: rust-fmt, toml-check

fix(monarch): add migration v4 for trigger_config + skip non-Vue-Flow rules
  config.template/modsrv/rules/motor_control.yaml.example
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

fix(rules): parser now reads point_id from Vue Flow variables
  libs/voltage-rules/src/parser.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
