Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

fix(AlarmHistoryRecords): update placeholder text for better clarity
  apps/src/views/Alarm/AlarmHistoryRecords/index.vue
Due: none

feat(nginx): add new /hisApi/ location for historical data and update alarmApi comment
  apps/nginx.conf
  apps/src/assets/main.css
  apps/src/assets/styles/element/ele-select.scss
  apps/src/assets/styles/element/ele-table.scss
  apps/src/assets/styles/element/ele-tag.scss
Due: none

fix: write :ts sidecar for inst:{id}:{M,A} Redis hashes
  libs/voltage-model/src/keyspace.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  services/comsrv/src/store/shm_redis_sync.rs
  services/comsrv/tests/test_routing_c2m.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt

feat(build): gate Swagger UI behind optional swagger-ui cargo feature
  scripts/build-installer.sh
  services/alarmsrv/Cargo.toml
  services/alarmsrv/src/routes.rs
  services/apigateway/Cargo.toml
  services/apigateway/src/main.rs
  services/hissrv/Cargo.toml
  services/hissrv/src/routes.rs
  services/netsrv/Cargo.toml
  services/netsrv/src/routes.rs
Due: rust-fmt, toml-check

feat(comsrv): accept per-channel logging config in create/update flows
  apps/src/types/channelConfiguration.ts
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers/lifecycle.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/api/routes_tests.rs
Due: rust-fmt

test(comsrv): add instance value/ts sidecar structural invariant
  services/comsrv/tests/test_inst_ts_sidecar_invariants.rs
Due: rust-fmt

ci: adopt cargo-nextest for 2-3x faster test execution
  .github/workflows/release.yml
  .github/workflows/rust-check.yml
  scripts/quick-check.sh
Due: yaml-check

添加iec61850协议的支持，添加数据库压缩策略，修复部分BUG
  Cargo.lock
  docker-compose.yml
  services/apigateway/src/main.rs
  services/apigateway/src/routes_config.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/core/channels/channel_creation.rs
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/config.rs
  services/comsrv/src/protocols/adapters/iec61850.rs
  services/comsrv/src/protocols/adapters/iec61850/mms.rs
  services/comsrv/src/protocols/adapters/iec61850/transport.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
  services/hissrv/src/backend_tsdb.rs
  services/hissrv/src/db_config.rs
Due: rust-fmt, toml-check, yaml-check

code check fix
  services/comsrv/src/core/channels/factory.rs
Due: rust-fmt

添加iec61850协议的支持，添加数据库压缩策略，修复部分BUG (#82)
  Cargo.lock
  docker-compose.yml
  services/apigateway/src/main.rs
  services/apigateway/src/routes_config.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/core/channels/channel_creation.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/config.rs
  services/comsrv/src/protocols/adapters/iec61850.rs
  services/comsrv/src/protocols/adapters/iec61850/mms.rs
  services/comsrv/src/protocols/adapters/iec61850/transport.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
  services/hissrv/src/backend_tsdb.rs
  services/hissrv/src/db_config.rs
Due: rust-fmt, toml-check, yaml-check

修复测试过程中发现的BUG
  docker-compose.yml
  services/alarmsrv/src/db.rs
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/main.rs
  services/apigateway/src/routes_config.rs
  services/netsrv/src/db_config.rs
  services/netsrv/src/forwarder.rs
  services/netsrv/src/main.rs
  services/netsrv/src/models.rs
  services/netsrv/src/mqtt.rs
Due: rust-fmt, yaml-check

修复BUG (#84)
  docker-compose.yml
  services/alarmsrv/src/db.rs
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/main.rs
  services/apigateway/src/routes_config.rs
  services/netsrv/src/db_config.rs
  services/netsrv/src/forwarder.rs
  services/netsrv/src/main.rs
  services/netsrv/src/models.rs
  services/netsrv/src/mqtt.rs
Due: rust-fmt, yaml-check

refactor: update auto-imports and component type definitions, enhance ESLint configuration, and add quality report generation
  DoughnutChart.vue
  apps/.dockerignore
  apps/.gitignore
  apps/nginx.conf
  apps/package-lock.json
  apps/package.json
  apps/pnpm-lock.yaml
  apps/reports/quality/quality-report.md
  apps/scripts/docker-deploy.ps1
  apps/scripts/docker-deploy.sh
  apps/scripts/quality-report.mjs
  apps/src/assets/icons/tuopu.svg
  apps/src/assets/styles/element/ele-date-picker.scss
  apps/src/assets/styles/element/ele-input.scss
  apps/src/assets/styles/element/ele-menu.scss
  apps/src/assets/styles/element/ele-table.scss
  apps/src/components/charts/DoughnutChart.vue
  apps/src/components/charts/StackedBarChart.vue
  apps/src/components/charts/lineChart.vue
  apps/src/layout/Header.vue
  apps/src/utils/__tests__/common.test.ts
  apps/src/utils/__tests__/csv.test.ts
  apps/src/utils/__tests__/date.test.ts
  apps/src/utils/csv.ts
  apps/vite.config.ts
  apps/vitest.config.ts
Due: yaml-check, markdown-check

fix: update Nginx configuration to use localhost for API proxying
  apps/nginx.conf
Due: none

增加骨架屏过渡；完成内测版本测试修改。 (#86)
  apps/.dockerignore
  apps/.gitignore
  apps/components.d.ts
  apps/package-lock.json
  apps/package.json
  apps/pnpm-lock.yaml
  apps/public/sidebar-logo.png
  apps/reports/quality/quality-report.md
  apps/scripts/docker-deploy.ps1
  apps/scripts/docker-deploy.sh
  apps/scripts/quality-report.mjs
  apps/src/App.vue
  apps/src/api/alarm.ts
  apps/src/assets/icons/tuopu.svg
  apps/src/assets/styles/element/ele-date-picker.scss
  apps/src/assets/styles/element/ele-input.scss
  apps/src/assets/styles/element/ele-menu.scss
  apps/src/assets/styles/element/ele-select.scss
  apps/src/assets/styles/element/ele-table.scss
  apps/src/components/charts/DoughnutChart.vue
  apps/src/components/charts/StackedBarChart.vue
  apps/src/components/charts/lineChart.vue
  apps/src/components/common/AppSkeleton.vue
  apps/src/layout/Header.vue
  apps/src/router/guard.ts
  apps/src/stores/global.ts
  apps/src/utils/__tests__/common.test.ts
  apps/src/utils/__tests__/csv.test.ts
  apps/src/utils/__tests__/date.test.ts
  apps/src/utils/csv.ts
  apps/src/views/Alarm/AlarmHistoryRecords/index.vue
  apps/src/views/Alarm/RulesManagement/index.vue
  apps/src/views/Control/ControlManagement/index.vue
  apps/src/views/Statistics/Curves.vue
  apps/src/views/Statistics/Overview.vue
  apps/vite.config.ts
  apps/vitest.config.ts
Due: yaml-check, markdown-check

websocket及alarmsrv的关键字搜索修复
  services/alarmsrv/src/db.rs
  services/alarmsrv/src/models.rs
  services/apigateway/src/ws.rs
Due: rust-fmt

code check fix
  services/alarmsrv/src/db.rs
Due: rust-fmt

chore: release v0.3.0 — first internal beta
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README-CN.md
  README.md
  firmware/Cargo.toml
Due: toml-check, markdown-check

fix(voltage-rules): gate executor/scheduler/logger on unix only
  libs/voltage-rules/src/lib.rs
Due: rust-fmt

refactor: extract voltage-config crate for cross-platform config schema
  Cargo.lock
  Cargo.toml
  libs/voltage-config/Cargo.toml
  libs/voltage-config/src/comsrv.rs
  libs/voltage-config/src/lib.rs
  libs/voltage-config/src/modsrv.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/core/config/types.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/config.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/core/validator.rs
Due: rust-fmt, toml-check

fix: harden SHM Redis sync rebuild handling
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/shm_handle.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/src/store/shm_redis_sync.rs
Due: rust-fmt

refactor(shm): drop ShmHandle legacy writer/index fields
  libs/voltage-rtdb-shm/src/shm_handle.rs
  libs/voltage-rtdb-shm/src/snapshot.rs
  services/comsrv/src/api/handlers/health.rs
Due: rust-fmt

fix(shm): correct PointSlot seqlock memory ordering on weak-ordered CPUs
  libs/voltage-rtdb-shm/src/vec_impl.rs
Due: rust-fmt

refactor: reduce unnecessary clones across workspace
  libs/common/src/logging.rs
  libs/voltage-infra/src/sqlite/service_config.rs
  libs/voltage-rules/src/executor.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/ws.rs
  services/comsrv/src/api/command_cache.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/error.rs
  services/comsrv/src/protocols/adapters/command_batcher.rs
  services/hissrv/src/backend_tsdb.rs
  services/hissrv/src/db_config.rs
  services/hissrv/src/scheduler.rs
  services/modsrv/src/api/routing_query_handlers.rs
  services/modsrv/src/error.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/redis_state.rs
  services/netsrv/src/db_config.rs
  services/netsrv/src/mqtt.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/doctor.rs
  tools/monarch/src/logs.rs
  tools/monarch/src/shm_dashboard.rs
  tools/monarch/src/top_draw.rs
Due: rust-fmt

fix: wrap config upserts in transactions, NaN-safe rule value compare
  libs/voltage-rules/src/executor.rs
  services/hissrv/src/db_config.rs
  services/netsrv/src/db_config.rs
Due: rust-fmt

refactor(comsrv): lift hardcoded control-point defaults to named consts
  services/comsrv/src/core/config/sqlite_loader.rs
Due: rust-fmt

Harden Rust runtime panic boundaries
  .clippy.toml
  .github/workflows/release.yml
  .github/workflows/rust-check.yml
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-model/build.rs
  libs/voltage-rtdb-shm/src/notification.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  scripts/quick-check.sh
  services/alarmsrv/src/db.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_network.rs
  services/apigateway/src/ws.rs
  services/comsrv/src/protocols/adapters/modbus_mock.rs
  services/comsrv/src/protocols/adapters/modbus_poll.rs
  services/comsrv/src/protocols/core/slot.rs
  services/comsrv/src/store/redis_store.rs
  services/hissrv/src/models.rs
  services/hissrv/src/scheduler.rs
  tools/monarch/src/core/syncer.rs
  tools/simulator/src/coils.rs
  tools/simulator/src/state_machine.rs
  tools/simulator/src/writable.rs
Due: rust-fmt, toml-check, yaml-check

refactor: tidy schema dedup, SHM seqlock, deprecated marker
  libs/voltage-config/src/modsrv.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt

chore: drop unused dependencies flagged by cargo-machete
  Cargo.lock
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb-shm/Cargo.toml
  services/alarmsrv/Cargo.toml
  services/apigateway/Cargo.toml
  services/comsrv/Cargo.toml
  services/hissrv/Cargo.toml
  services/modsrv/Cargo.toml
  services/netsrv/Cargo.toml
  workspace-hack/Cargo.toml
Due: toml-check

refactor(voltage-rules): drop unused validate_formula helper
  libs/voltage-rules/src/formula.rs
Due: rust-fmt

refactor: drop more dead code surfaced by manual review and Linux build
  Cargo.lock
  firmware/src/main.rs
  libs/voltage-model/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  services/apigateway/src/models.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/config.rs
  services/comsrv/src/protocols/adapters/can/decoder.rs
  services/comsrv/src/protocols/adapters/matter.rs
  services/comsrv/src/protocols/core/script_runner.rs
  services/netsrv/Cargo.toml
  tools/simulator/src/coils.rs
  tools/simulator/src/writable.rs
Due: rust-fmt, toml-check

fix(common): collapse Linux meminfo if-let chains for clippy 2024
  libs/common/src/bootstrap_system.rs
Due: rust-fmt

fix(comsrv): restore CAN cache len/iter behind tracing-support feature
  .github/workflows/claude-review.yml
  services/comsrv/src/protocols/adapters/can/config.rs
Due: rust-fmt, yaml-check

fix: collapse gpio.rs nested if-let; remove push trigger from claude-review
  .github/workflows/claude-review.yml
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt, yaml-check
