Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

feat: 实现Modbus写命令功能和代码质量改进
  .serena/project.yml
  docs/code-quality-standards.md
  docs/comsrv-csv-configuration.md
  docs/services/architecture-overview.md
  libs/src/redis/client.rs
  scripts/redis-functions/core.lua
  scripts/redis-functions/domain.lua
  services/comsrv/Dockerfile
  services/comsrv/src/bin/comsrv.rs
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/mod.rs
  services/comsrv/src/core/combase/trigger.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/core/sync/lua_sync.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/plugins/protocols/modbus/connection.rs
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/comsrv/src/plugins/protocols/modbus/transport.rs
  services/comsrv/src/service/lifecycle.rs
Due: rust-fmt, yaml-check, markdown-check

chore: 添加 .serena 目录到 .gitignore
  .gitignore
Due: none

chore: 移除已跟踪的 .serena 目录
  .serena/cache/rust/document_symbols_cache_v23-06-25.pkl
  .serena/project.yml
Due: yaml-check

feat: 实现轻量级配置管理服务架构
  docs/lightweight-services-architecture.md
  rustfmt-nightly.toml
  rustfmt.toml
  scripts/redis-functions/rulesrv.lua
  services/modsrv/Cargo.toml
  services/modsrv/src/main_lightweight.rs
  services/rulesrv/Cargo.toml
  services/rulesrv/config/rules.yaml
  services/rulesrv/src/main_lightweight.rs
  test-lightweight-services.sh
Due: rust-fmt, toml-check, yaml-check, markdown-check

feat: 完成轻量级配置管理服务和Lua Functions实现
  libs/src/config/utils.rs
  scripts/redis-functions/rulesrv.lua
  services/modsrv/Cargo.toml
  services/modsrv/src/main_lightweight.rs
  services/rulesrv/dump.rdb
  services/rulesrv/src/main_lightweight.rs
  test-lightweight-quick.sh
  test-lightweight-services.sh
Due: rust-fmt, toml-check

feat: 添加配置文件验证机制
  docker-compose.yml
  services/comsrv/src/bin/comsrv.rs
  services/comsrv/src/core/config/core.rs
Due: rust-fmt, yaml-check

feat: 优化配置文件目录结构
  services/comsrv/src/core/config/core.rs
Due: rust-fmt

refactor: 简化配置文件结构
  services/comsrv/src/core/config/core.rs
Due: rust-fmt

refactor: 简化配置结构，移除 table_config
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
Due: rust-fmt

docs: 改进CLAUDE.md文档，增强开发指导
  CLAUDE.md
Due: markdown-check

fix: 修复modbus模块中未使用变量的编译警告
  services/comsrv/src/plugins/protocols/modbus/core.rs
Due: rust-fmt

refactor: 移除execute_modbus_write函数中未使用的points参数
  services/comsrv/src/plugins/protocols/modbus/core.rs
Due: rust-fmt

feat: 实现通用配置驱动的Lua同步引擎机制
  README-CN.md
  docs/SYNC_ARCHITECTURE.md
  docs/SYNC_CONFIG_GUIDE.md
  scripts/redis-functions/Dockerfile
  scripts/redis-functions/load_functions.sh
  scripts/redis-functions/modsrv.lua
  scripts/redis-functions/sync_config_init.lua
  scripts/redis-functions/sync_engine.lua
  scripts/sync-config-manager.sh
  services/comsrv/src/core/sync/lua_sync.rs
  services/comsrv/src/utils/error.rs
Due: rust-fmt, markdown-check

fix: 添加 protoc 安装步骤到 GitHub Actions CI
  .github/workflows/ci.yml
Due: yaml-check

fix: 修复所有单元测试失败问题
  docs/CI-WORKFLOW.md
  libs/src/config/utils.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/storage.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/plugins/core.rs
  services/comsrv/src/plugins/protocols/modbus/transport.rs
Due: rust-fmt, markdown-check

fix: 修复文档测试错误
  services/comsrv/src/api/mod.rs
  services/comsrv/src/core/config/mod.rs
  services/comsrv/src/lib.rs
Due: rust-fmt

refactor: 简化comsrv为纯二进制结构
  .claude/settings.local.json
  .github/workflows/ci.yml
  services/comsrv/Cargo.toml
  services/comsrv/src/bin/comsrv.rs
  services/comsrv/src/core/combase/trigger.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/main.rs
  services/hissrv/src/main.rs
  services/modsrv/src/main.rs
Due: rust-fmt, toml-check, yaml-check

chore: 清理过时的测试脚本和文档
  docs/CI-WORKFLOW.md
  scripts/sync-config-manager.sh
  scripts/test-all-services.sh
  scripts/test-docker.sh
  scripts/test-lua-functions.sh
  scripts/validate-ci.sh
Due: markdown-check

refactor: 实现 modsrv measurement/action 分离架构
  .gitignore
  CLAUDE.md
  Cargo.lock
  apps/config-ui/src-tauri/Cargo.lock
  scripts/redis-functions/modsrv.lua
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/mod.rs
  services/comsrv/src/core/combase/storage.rs
  services/comsrv/src/plugins/core.rs
  services/comsrv/src/plugins/mod.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
  services/comsrv/src/storage.rs
  services/comsrv/src/storage/mod.rs
  services/comsrv/src/storage/rtdb_impl.rs
  services/comsrv/src/storage/types.rs
  services/modsrv/src/main.rs
Due: rust-fmt, markdown-check

fix: 修复 comsrv Dockerfile 适配纯二进制结构
  services/comsrv/Dockerfile
Due: none

fix: 升级 GitHub Actions 依赖到最新版本
  .github/workflows/ci.yml
Due: yaml-check

fix: 改进 CI 集成测试流程
  .github/workflows/ci.yml
Due: yaml-check

Update README.md
  README.md
Due: markdown-check

feat: Simplify CI/CD and improve code quality
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/debug.yml
  .github/workflows/rust-check.yml
  .luacheckrc
  CLAUDE.md
  docker-compose.yml
  docker/modbus-sim/Dockerfile
  docker/modbus-sim/custom_modbus_server.py
  docker/modbus-sim/enhanced_modbus_server.py
  docker/modbus-sim/modbus_server_with_data.json
  docker/nginx/nginx.conf
  libs/src/config/loader.rs
  rustfmt-nightly.toml
  rustfmt.toml
  scripts/redis-functions/comsrv.lua
  scripts/redis-functions/core.lua
  scripts/redis-functions/services.lua
  services/alarmsrv/Dockerfile
  services/alarmsrv/src/main.rs
  services/apigateway/Dockerfile
  services/comsrv/Dockerfile
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/traits.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/plugins/protocols/modbus/mod.rs
  services/comsrv/src/plugins/protocols/modbus/protocol.rs
  services/hissrv/Dockerfile
  services/modsrv/Dockerfile
  services/modsrv/src/main.rs
  services/netsrv/Dockerfile
  services/rulesrv/Dockerfile
  services/rulesrv/src/main.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix: Add protoc to CI and update .gitignore
  .github/workflows/rust-check.yml
  .gitignore
Due: yaml-check

fix: Add Redis service to CI for integration tests
  .github/workflows/rust-check.yml
Due: yaml-check

refactor: Remove unnecessary read_data and read_single_point methods
  services/comsrv/src/plugins/protocols/modbus/protocol.rs
  services/comsrv/src/plugins/protocols/modbus/simulator.rs
Due: rust-fmt

feat: Add structured logging system for services
  .luacheckrc
  CLAUDE.md
  Cargo.lock
  Makefile
  docker-compose.yml
  docker/redis/Dockerfile
  docker/redis/entrypoint.sh
  docs/alarm-system-design.md
  docs/api/README.md
  docs/api/data-models.md
  docs/api/rest-api.md
  docs/api/websocket-api.md
  docs/api/websocket-http-messages.md
  docs/current-data-structure.md
  docs/redis-key-structure.md
  libs/Cargo.toml
  libs/src/logging.rs
  scripts/load-redis-functions.sh
  scripts/redis-functions/comsrv.lua
  scripts/redis-functions/core.lua
  scripts/redis-functions/services.lua
  services/alarmsrv/src/main.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/traits.rs
  services/comsrv/src/main.rs
  services/comsrv/src/plugins/grpc/adapter.rs
  services/comsrv/src/plugins/protocols/modbus/connection.rs
  services/comsrv/src/plugins/protocols/modbus/protocol.rs
  services/comsrv/src/plugins/protocols/modbus/server.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
  services/hissrv/src/main.rs
  services/modsrv/src/main.rs
  services/rulesrv/dump.rdb
  services/rulesrv/src/main.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix: Fix CI protoc installation and improve test reliability
  .github/workflows/rust-check.yml
  libs/src/config/loader.rs
  libs/src/influxdb/builder.rs
  services/comsrv/src/core/combase/factory.rs
Due: rust-fmt, yaml-check

fix: 修复编译警告和未使用的代码
  .claude/settings.local.json
  docker-compose.yml
  docker/nginx/nginx.conf
  docs/api/websocket-api.md
  docs/api/websocket-http-messages.md
  libs/src/utils.rs
  services/apigateway/src/error.rs
  services/apigateway/src/handlers/data.rs
  services/apigateway/src/handlers/mod.rs
  services/apigateway/src/main.rs
  services/netsrv/src/error/mod.rs
  services/netsrv/src/formatter/ascii_formatter.rs
  services/netsrv/src/formatter/json_formatter.rs
  services/netsrv/src/formatter/mod.rs
  services/netsrv/src/main.rs
  services/netsrv/src/network/client.rs
  services/netsrv/src/redis/data_fetcher.rs
  services/netsrv/src/redis/fetcher.rs
  services/netsrv/src/redis/function_client.rs
  services/netsrv/src/redis/mod.rs
Due: rust-fmt, yaml-check, markdown-check

docs: 添加 ComSrv 和 ModSrv 配置文档及最简示例
  .gitignore
  config-examples/README.md
  config-examples/minimal/comsrv.yaml
  config-examples/minimal/models.yaml
  config-examples/minimal/modsrv.yaml
  config-examples/modbus-rtu/comsrv.yaml
  docs/configuration/README.md
  docs/configuration/comsrv-config.md
  docs/configuration/modsrv-config.md
Due: yaml-check, markdown-check

chore: Remove .claude directory from repository and add to .gitignore
  .claude/hooks/disable-proxy.sh
  .claude/hooks/validate-comsrv.sh
  .claude/settings.json
  .claude/settings.local.json
  .gitignore
Due: none

feat: 添加Docker预编译依赖镜像和前端应用目录
  .gitignore
  Dockerfile.base
  README.md
  apps/README.md
  scripts/build-docker-deps.sh
  services/comsrv/src/plugins/protocols/modbus/protocol.rs.bak
Due: markdown-check
