Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

perf: 优化异步操作和并发性能
  docs/modsrv-optimization-plan.md
  docs/services-optimization-plan.md
  libs/src/error.rs
  libs/src/lib.rs
  libs/src/types.rs
  scripts/build-docker.sh
  scripts/load-redis-functions.sh
  scripts/validate-comsrv-config.sh
  services/alarmsrv/src/main.rs
  services/comsrv/build.rs
  services/comsrv/src/core/combase/traits.rs
  services/comsrv/src/core/combase/trigger.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/plugins/protocols/modbus/protocol.rs
  services/hissrv/src/main.rs
  services/modsrv/src/main.rs
  services/rulesrv/src/main.rs
Due: rust-fmt, markdown-check

feat: implement global configuration system and fix API logging
  backups/20251114_112635/comsrv.db
  backups/20251114_112635/modsrv.db
  backups/20251114_112635/rulesrv.db
  config.template/comsrv/comsrv.yaml
  config.template/modsrv/modsrv.yaml
  config.template/rulesrv/rulesrv.yaml
  libs/common/src/logging.rs
  libs/common/src/sqlite/service_config.rs
  libs/voltage-config/src/comsrv.rs
  libs/voltage-config/src/modsrv.rs
  libs/voltage-config/src/rulesrv.rs
  libs/voltage-config/tests/test_rulesrv_schema.rs
  libs/voltage-schema-macro/src/codegen.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/modsrv/src/product_loader.rs.bak
  tools/monarch/src/core.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/core/validator.rs
  tools/monarch/src/main.rs
Due: rust-fmt, yaml-check

fix: improve integration test stability and port handling
  scripts/test-stability-check.sh
  services/comsrv/tests/service_integration_test.rs
Due: rust-fmt

fix: prevent CI schema mismatch by cleaning Monarch binary cache
  .github/workflows/rust-check.yml
  services/comsrv/tests/service_integration_test.rs
Due: rust-fmt, yaml-check

refactor: optimize Redis architecture and remove ems-console from workspace
  Cargo.lock
  Cargo.toml
  config.template/comsrv/README.md
  config.template/comsrv/comsrv.yaml
  config.template/global.yaml
  config.template/modsrv/INSTANCE_LOGGING.md
  config.template/modsrv/instances.yaml
  config.template/modsrv/instances/PCS_001/instance.yaml
  config.template/modsrv/modsrv.yaml
  config.template/modsrv/products/pv_inverter/measurements.csv
  config.template/rulesrv/RULE_LOGGING.md
  config.template/rulesrv/rules/battery_soc_management.json
  config.template/rulesrv/rulesrv.yaml
  scripts/build-arm64-installer.sh
  scripts/ems-console-launcher.sh
  scripts/install.sh
  scripts/run-integration-tests.sh
  scripts/setup-config.sh
  scripts/test-stability-check.sh
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix: apply rounding for float-to-integer conversions to prevent precision loss
  services/comsrv/src/core/combase/traits.rs
  services/comsrv/src/protocols/modbus/codec.rs
Due: rust-fmt

refactor: unify log file naming to date-first format
  libs/common/src/logging.rs
Due: rust-fmt

perf(comsrv): optimize Modbus polling with 30-50% CPU reduction
  .luacheckrc
  Cargo.lock
  Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/lib.rs
  scripts/check-docker-env.sh
  scripts/docker-compose-wrapper.sh
  scripts/install.sh
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/protocols/modbus/protocol.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/tests/routing_m2c_test.rs
  services/rulesrv/Cargo.toml
  services/rulesrv/src/action_executor.rs
  services/rulesrv/src/lib.rs
  services/rulesrv/src/routing_executor.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/config.rs
  tools/monarch/src/context.rs
  tools/monarch/src/main.rs
  tools/monarch/src/models.rs
  tools/monarch/src/rtdb.rs
  tools/monarch/src/services.rs
Due: rust-fmt, toml-check

fix(ci): restore run-integration-tests.sh to fix integration test job
  scripts/run-integration-tests.sh
Due: none

docs(comsrv): add English translations to Chinese comments
  scripts/check-docker-env.sh
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/combase/traits.rs
  services/comsrv/src/protocols/modbus/codec.rs
  services/comsrv/src/protocols/modbus/protocol.rs
Due: rust-fmt

fix(install): prevent script exit when skipping Redis update
  scripts/install.sh
Due: none

fix(docker): parameterize platform flag to eliminate build warnings
  Dockerfile
Due: none

feat(comsrv): add force CREATE and automatic routing cleanup
  libs/voltage-config/src/comsrv.rs
  libs/voltage-config/tests/test_bool_deserialize.rs
  scripts/install.sh
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/reload.rs
  services/comsrv/src/dto.rs
  services/comsrv/src/plugins.rs
  services/modsrv/src/bootstrap.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/services.rs
Due: rust-fmt

refactor: reorganize module structure and eliminate redundant code
  libs/common/src/logging.rs
  scripts/install.sh
  services/comsrv/src/api.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/common.rs
  services/comsrv/src/core.rs
  services/comsrv/src/core/combase/sync.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols.rs
  services/comsrv/src/runtime.rs
  services/comsrv/src/runtime/cleanup_provider.rs
  services/comsrv/src/runtime/storage.rs
  services/comsrv/src/runtime/test_utils.rs
  services/modsrv/src/api.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_action_handlers.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/routing_query_handlers.rs
  services/modsrv/src/api/single_point_handlers.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/routes.rs
  services/modsrv/tests/instance_lifecycle_test.rs
  tools/monarch/src/lib_api/models.rs
Due: rust-fmt

refactor: remove dead code and unused struct fields
  libs/common/src/hex.rs
  libs/common/src/lib.rs
  libs/common/src/redis.rs
  libs/common/src/test_utils.rs
  libs/voltage-rtdb/src/cleanup.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/traits.rs
  services/comsrv/src/protocols/modbus.rs
  services/comsrv/src/protocols/modbus/command_batcher.rs
  services/comsrv/src/protocols/modbus/connection.rs
  services/comsrv/src/protocols/modbus/pdu.rs
  services/comsrv/src/protocols/modbus/protocol.rs
  services/comsrv/src/protocols/modbus/simulator.rs
  services/comsrv/src/protocols/modbus/transport.rs
  services/comsrv/src/protocols/modbus/types.rs
  services/comsrv/src/runtime/storage.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/instance_logger.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_state.rs
  services/modsrv/src/time_series.rs
  services/modsrv/src/virtual_calc.rs
  tools/monarch/src/context.rs
Due: rust-fmt, toml-check

feat(modsrv): add SQLite persistence and YAML config for calculations
  Cargo.toml
  LICENSE
  libs/common/Cargo.toml
  libs/common/src/test_utils/schema.rs
  libs/voltage-config/Cargo.toml
  libs/voltage-config/src/calculations.rs
  libs/voltage-config/src/lib.rs
  libs/voltage-config/src/modsrv.rs
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  services/comsrv/Cargo.toml
  services/modsrv/Cargo.toml
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/calculation_engine.rs
  services/modsrv/src/product_loader.rs
  services/rulesrv/Cargo.toml
  tools/monarch/Cargo.toml
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt, toml-check

test: add unit tests for calculation config and SQLite persistence
  libs/voltage-config/src/calculations.rs
  services/modsrv/src/calculation_engine.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

refactor: remove microservice concept from monarch CLI
  Dockerfile
  README-CN.md
  README.md
  clippy.toml
  config.template/rulesrv/RULE_LOGGING.md
  config.template/rulesrv/rules/battery_soc_management.json
  config.template/rulesrv/rules/motor_control.yaml
  config.template/rulesrv/rulesrv.yaml
  docker-compose.yml
  docker/nginx/nginx.conf
  libs/common/src/sqlite/service_config.rs
  libs/voltage-config/src/common.rs
  libs/voltage-config/src/rulesrv.rs
  libs/voltage-config/tests/test_rulesrv_schema.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/parser.rs
  libs/voltage-rules/src/repository.rs
  scripts/install.sh
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_state.rs
  services/modsrv/src/rule_routes.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/context.rs
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/lib_api/rules.rs
  tools/monarch/src/main.rs
  tools/monarch/src/rules.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

feat(rules): add configurable scheduler tick interval and integration tests
  Cargo.lock
  Cargo.toml
  libs/voltage-comlink/Cargo.toml
  libs/voltage-comlink/src/error.rs
  libs/voltage-config/src/common.rs
  libs/voltage-protocols/Cargo.toml
  libs/voltage-protocols/src/modbus.rs
  libs/voltage-protocols/src/modbus/codec.rs
  libs/voltage-protocols/src/modbus/pdu.rs
  libs/voltage-protocols/src/modbus/transport.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/scheduler.rs
  libs/voltage-rules/tests/rule_crud.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/error.rs
  services/comsrv/tests/service_integration_test.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
Due: rust-fmt, toml-check

chore: sync config template and use registry modbus dep
  Cargo.lock
  Cargo.toml
  config.template/README.md
  config.template/comsrv/comsrv.yaml
  config.template/global.yaml
  config.template/modsrv/INSTANCE_LOGGING.md
  config.template/modsrv/instances.yaml
  config.template/modsrv/instances/PCS_001/instance.yaml
  config.template/modsrv/instances/motor_01/instance.yaml
Due: toml-check, yaml-check, markdown-check

ci: update monarch commands for new CLI
  .github/workflows/rust-check.yml
Due: yaml-check

chore(rules): simplify list response and pagination
  libs/voltage-config/src/api.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/repository.rs
  services/modsrv/src/rule_routes.rs
Due: rust-fmt

ci: fix docker-compose path after removing CI-specific config
  .github/workflows/rust-check.yml
Due: yaml-check

fix(ci): update integration test script to use main docker-compose
  scripts/run-integration-tests.sh
  tools/monarch/src/core/file_utils.rs
Due: rust-fmt

refactor(logging): optimize comsrv log size with tiered architecture
  libs/common/src/logging.rs
  libs/voltage-comlink/src/traits.rs
  services/comsrv/src/protocols/modbus.rs
Due: rust-fmt

style(logging): standardize console log format with [LEVEL] prefix
  libs/common/src/logging.rs
  libs/voltage-comlink/src/traits.rs
Due: rust-fmt

feat(rules): add independent rule execution logging
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/logger.rs
  libs/voltage-rules/src/scheduler.rs
  services/modsrv/src/main.rs
Due: rust-fmt

chore(docker): remove redundant --platform=$TARGETPLATFORM
  Dockerfile
Due: none

feat(dido): add DI/DO protocol for GPIO-based digital I/O
  libs/voltage-config/src/comsrv.rs
  libs/voltage-protocols/Cargo.toml
  libs/voltage-protocols/src/dido.rs
  libs/voltage-protocols/src/lib.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols/dido.rs
  services/comsrv/src/protocols/registry.rs
  services/comsrv/tests/dido_integration.rs
Due: rust-fmt, toml-check
