Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

fix(comsrv): register point types for correct Redis key mapping
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt

fix(build): fail fast when monarch binary is missing
  scripts/build-arm64-installer.sh
Due: none

fix: remove dangerous Default implementations and validate critical IDs
  libs/common/src/service_config.rs
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/models/csv_loader.rs
Due: rust-fmt

fix: Round 2 Default audit - JSON serialization, bit_position, uptime
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

fix(rules): fail condition evaluation when variable is missing
  libs/voltage-rules/src/executor.rs
Due: rust-fmt

refactor(apigateway): unify WebSocket rule message format
  services/apigateway/app/tasks/data_scheduler.py
  services/apigateway/app/websocket/websocket_manager.py
Due: none

fix(build): add --platform linux/arm64 for voltageems Docker build
  scripts/build-arm64-installer.sh
Due: none

feat(build): multi-arch installer support (ARM64 + AMD64)
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  Dockerfile.multi
  scripts/build-arm64-installer.sh
  scripts/build-installer.sh
Due: yaml-check, markdown-check

fix(ci): allow release binaries in Docker build context
  .dockerignore
Due: none

fix(comsrv): abort background tasks on channel hot-reload
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt

fix(comsrv): add defensive Drop impl for IgwChannelWrapper
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt

fix: add proper lifecycle management for background tasks
  libs/common/src/logging.rs
  libs/voltage-rtdb/src/write_buffer.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt

fix: improve task lifecycle management robustness
  libs/common/src/logging.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt

fix: add safety bounds for Redis retry and integer conversions
  libs/common/src/bootstrap_database.rs
  libs/common/src/config_loader.rs
  libs/voltage-calc/src/evaluator.rs
  services/comsrv/src/core/channels/trigger.rs
Due: rust-fmt

fix: improve concurrency safety and integer overflow checks
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/tests/instance_lifecycle_test.rs
Due: rust-fmt

chore(scripts): restore bash syntax after upgrading to bash 5
  scripts/build-installer.sh
Due: none

fix(comsrv): make start_flush_task async to avoid blocking_write panic
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt

fix: improve type safety and error handling
  libs/voltage-rules/src/parser.rs
  libs/voltage-rules/src/repository.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/product_loader.rs
Due: rust-fmt

chore: update igw to 0.2.16 (GPIO startup init)
  Cargo.lock
Due: none

feat: enhance DI/DO channel with internal_id conversion and logging improvements
  docker-compose.yml
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/src/lib.rs
  scripts/install.sh
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/channels/trigger.rs
  services/modsrv/src/product_loader.rs
Due: rust-fmt, yaml-check

perf(libs): multi-round performance optimization for core libraries
  Cargo.lock
  libs/common/src/logging.rs
  libs/common/src/validation.rs
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-calc/src/lib.rs
  libs/voltage-model/src/keyspace.rs
  libs/voltage-routing/Cargo.toml
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-routing/src/loader.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/routing_cache.rs
  libs/voltage-rtdb/src/traits.rs
  libs/voltage-rules/src/executor.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/core/channels/trigger.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt, toml-check

perf(rules,calc): reduce allocations with static str and Cow pattern
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/logger.rs
Due: rust-fmt

perf: batch 6 clone/allocation optimizations (rounds 41-50)
  Cargo.lock
  libs/common/src/api_types.rs
  libs/common/src/logging.rs
  libs/common/src/serde_helpers.rs
  libs/voltage-infra/src/sqlite/service_config.rs
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/write_buffer.rs
  libs/voltage-rules/src/logger.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/core/reload.rs
  services/comsrv/src/main.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/src/utils.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_redis_sync.rs
  services/modsrv/src/redis_state.rs
  services/modsrv/src/reload.rs
  services/modsrv/src/routing_loader.rs
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/models.rs
  tools/monarch/src/rules.rs
  tools/monarch/src/services.rs
Due: rust-fmt, toml-check

perf: VecRtdb + SharedMemory multi-layer cache architecture (rounds 101-128)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  libs/voltage-infra/Cargo.toml
  libs/voltage-infra/src/redis.rs
  libs/voltage-model/src/keyspace.rs
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-routing/src/loader.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/redis_impl.rs
  libs/voltage-rtdb/src/routing_cache.rs
  libs/voltage-rtdb/src/shared_impl.rs
  libs/voltage-rtdb/src/traits.rs
  libs/voltage-rtdb/src/vec_impl.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/scheduler.rs
  scripts/install.sh
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/core/config.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/main.rs
  tools/monarch/src/context.rs
  tools/monarch/src/services.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

chore: upgrade igw to 0.2.19
  Cargo.lock
  services/comsrv/Cargo.toml
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt, toml-check

整合python服务
  Cargo.lock
  Dockerfile
  config.template/comsrv/comsrv.yaml
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/alarmsrv/Dockerfile
  services/alarmsrv/requirements.txt
  services/apigateway/Dockerfile
  services/apigateway/packages/build_image.sh
  services/apigateway/packages/load_image.sh
  services/apigateway/packages/start.sh
  services/apigateway/requirements.txt
  services/comsrv/Cargo.toml
  services/hissrv/Dockerfile
  services/hissrv/config/hissrv.yaml
  services/hissrv/packages/build_image.sh
  services/hissrv/packages/load_image.sh
  services/hissrv/packages/start.sh
  services/hissrv/requirements.txt
  services/netsrv/Dockerfile
  services/netsrv/config/netsrv.yaml
  services/netsrv/requirements.txt
  services/python-services/.dockerignore
  services/python-services/Dockerfile
  services/python-services/entrypoint.sh
Due: toml-check, yaml-check

fix BUG
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/python-services/Dockerfile
Due: yaml-check

perf(libs): Round 129 - 10-round strict Rust performance optimization
  Cargo.lock
  Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/numfmt.rs
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/src/executor.rs
Due: rust-fmt, toml-check

perf: Round 130-139 multi-file optimization batch
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/write_buffer.rs
  libs/voltage-rules/src/executor.rs
Due: rust-fmt

chore: upgrade igw to 0.2.20, fix CanDataType type
  Cargo.lock
  libs/voltage-rules/src/executor.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt, toml-check

chore: cleanup redundant code and unused dependencies
  Cargo.lock
  libs/voltage-routing/Cargo.toml
  libs/voltage-routing/src/lib.rs
  libs/voltage-rules/Cargo.toml
Due: rust-fmt, toml-check

fix(install): correct pattern matching for voltageems-ss image
  scripts/install.sh
Due: none

fix(test): update assertions to match ryu float formatting
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/src/numfmt.rs
  services/comsrv/src/api/routes_tests.rs
Due: rust-fmt

Enhance Docker and Nginx configuration
  apps/Dockerfile
  apps/nginx.conf
  docker-compose.yml
Due: yaml-check

chore: cleanup code and comments
  Cargo.lock
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/memory_impl.rs
  libs/voltage-rtdb/src/numfmt.rs
  libs/voltage-rtdb/src/routing_cache.rs
  libs/voltage-rtdb/src/shared_impl.rs
  libs/voltage-rtdb/src/vec_impl.rs
  libs/voltage-rtdb/src/write_buffer.rs
  libs/voltage-rtdb/tests/buffer_batch_integration.rs
  libs/voltage-rtdb/tests/numfmt_precision.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/command_cache.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/config.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/error.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/main.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/tests/batch_routing_stress.rs
  services/comsrv/tests/routing_c2c_cascade.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/main.rs
  services/modsrv/tests/common.rs
  services/modsrv/tests/instance_crud_complete.rs
  services/modsrv/tests/routing_m2c_advanced.rs
Due: rust-fmt, toml-check

feat: add frontend build and checks for Vue.js
  scripts/build-installer.sh
  scripts/install.sh
  scripts/offline/build-docker-arm64.sh
  scripts/quick-check.sh
Due: none

feat: improve install.sh with auto-start and cleanup
  CLAUDE.md
  apps/Dockerfile
  scripts/install.sh
Due: markdown-check

fix(ci): support multi-arch Docker builds with TARGET_TRIPLE ARG
  Dockerfile
  scripts/build-installer.sh
Due: none

feat(monarch): add shm command with TUI dashboard and iteration API
  Cargo.lock
  docker-compose.yml
  libs/voltage-rtdb/src/shared_impl.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/main.rs
  tools/monarch/src/shm.rs
Due: rust-fmt, toml-check, yaml-check
