Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

refactor: 移除CI/CD流程配置并更新文档为中文
  .actrc
  .github/act-event.json
  .github/runner-setup/README.md
  .github/runner-setup/docker-compose.yml
  .github/runner-setup/install-runner.sh
  .github/runner-setup/runner.Dockerfile
  .github/runner-setup/setup-runner-service.sh
  .github/workflows/comsrv-ci.yml
  .github/workflows/dependency-update.yml
  .github/workflows/edge-ci.yml
  .github/workflows/rust-ci.yml
  .gitignore
  CLAUDE.md
  Earthfile
  docs/LOCAL_CI.md
  docs/VOLTAGEEMS_CICD_ARCHITECTURE.md
  lefthook.yml
  scripts/pre-push-check.sh
  services/comsrv/docs/CICD_GUIDE.md
Due: yaml-check, markdown-check

删除config-cli服务
  services/config-cli/Cargo.toml
  services/config-cli/README.md
  services/config-cli/src/commands/diff.rs
  services/config-cli/src/commands/export.rs
  services/config-cli/src/commands/generate.rs
  services/config-cli/src/commands/migrate.rs
  services/config-cli/src/commands/mod.rs
  services/config-cli/src/commands/show.rs
  services/config-cli/src/commands/validate.rs
  services/config-cli/src/main.rs
  services/config-cli/src/utils/mod.rs
Due: rust-fmt, toml-check, markdown-check

feat: 实现alarmsrv告警规则引擎和apigateway WebSocket功能
  docs/CONFIG_SERVICE_QUICKSTART.md
  docs/architecture/data-flow-architecture.md
  docs/tauri-app-features.md
  docs/tauri-ui-design.md
  services/alarmsrv/Cargo.toml
  services/alarmsrv/alarmsrv.yaml
  services/alarmsrv/config/test.yaml
  services/alarmsrv/src/config.rs
  services/alarmsrv/src/lib.rs
  services/alarmsrv/src/main.rs
  services/alarmsrv/src/redis/client.rs
  services/alarmsrv/src/redis/indexes.rs
  services/alarmsrv/src/redis/queries.rs
  services/alarmsrv/src/services/mod.rs
  services/alarmsrv/src/services/rules.rs
  services/alarmsrv/src/services/scanner.rs
  services/alarmsrv/tests/api_tests.rs
  services/alarmsrv/tests/common/mod.rs
  services/alarmsrv/tests/common/test_config.rs
  services/alarmsrv/tests/redis_tests.rs
  services/alarmsrv/tests/service_tests.rs
  services/alarmsrv/tests/test_integration.sh
  services/apigateway/Cargo.toml
  services/apigateway/src/Cargo.toml.additions
  services/apigateway/src/config_client.rs
  services/apigateway/src/main.rs
  services/apigateway/src/realtime.rs
  services/apigateway/src/redis_client.rs
  services/apigateway/src/websocket.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

feat: 完善rulesrv规则引擎服务
  docs/fixlog/fixlog_20250716.md
  services/rulesrv/.gitignore
  services/rulesrv/CLAUDE.md
  services/rulesrv/Dockerfile
  services/rulesrv/docs/api-reference.md
  services/rulesrv/docs/configuration-guide.md
  services/rulesrv/docs/rule-examples.md
  services/rulesrv/src/api/mod.rs
  services/rulesrv/src/config.rs
  services/rulesrv/src/engine/executor.rs
  services/rulesrv/src/main.rs
  services/rulesrv/src/redis/store.rs
  services/rulesrv/src/redis/subscriber.rs
  services/rulesrv/test_local.sh
  services/rulesrv/test_rule_simple.json
  services/rulesrv/test_scripts/README.md
  services/rulesrv/test_scripts/clean_test_data.py
  services/rulesrv/test_scripts/monitor_redis.py
  services/rulesrv/test_scripts/requirements.txt
  services/rulesrv/test_scripts/test_data_publisher.py
  services/rulesrv/test_scripts/test_integration.py
  services/rulesrv/test_scripts/test_rule_definition.py
  services/rulesrv/test_scripts/test_rule_trigger.py
Due: rust-fmt, markdown-check

chore: 更新 .gitignore 忽略所有 fixlog 目录
  .gitignore
  docs/fixlog/fixlog_20250716.md
Due: markdown-check

feat: 实现项目统一的API前缀配置系统
  docs/fixlog/fixlog_20250716.md
  libs/voltage-common/src/config.rs
  services/Hissrv/config/default.yml
  services/Hissrv/src/config.rs
  services/alarmsrv/config/default.yml
  services/alarmsrv/src/api/routes.rs
  services/alarmsrv/src/config.rs
  services/alarmsrv/src/main.rs
  services/apigateway/src/auth/middleware.rs
  services/apigateway/src/config.rs
  services/apigateway/src/main.rs
  services/modsrv/src/api.rs
  services/modsrv/src/config.rs
  services/modsrv/src/main.rs
  services/rulesrv/config/default.yml
  services/rulesrv/docs/API_PREFIX_NOTICE.md
  services/rulesrv/src/api/mod.rs
  services/rulesrv/src/config.rs
  services/rulesrv/src/main.rs
  services/rulesrv/test_scripts/test_rule_trigger.py
Due: rust-fmt, yaml-check, markdown-check

chore: 配置git忽略所有fixlog文件
  .gitignore
Due: none

feat: 完成API Gateway从actix-web到axum的迁移
  services/apigateway/Cargo.toml
  services/apigateway/config/apigateway-test.yaml
  services/apigateway/config/apigateway.yaml
  services/apigateway/docs/CONFIG_CLIENT_GUIDE.md
  services/apigateway/docs/CONFIG_SERVICE_API.md
  services/apigateway/scripts/run_performance_tests.sh
  services/apigateway/src/auth/middleware.rs
  services/apigateway/src/auth/mod.rs
  services/apigateway/src/config.rs
  services/apigateway/src/error.rs
  services/apigateway/src/handlers/alarmsrv.rs
  services/apigateway/src/handlers/auth.rs
  services/apigateway/src/handlers/channels.rs
  services/apigateway/src/handlers/comsrv.rs
  services/apigateway/src/handlers/data.rs
  services/apigateway/src/handlers/health.rs
  services/apigateway/src/handlers/hissrv.rs
  services/apigateway/src/handlers/mod.rs
  services/apigateway/src/handlers/modsrv.rs
  services/apigateway/src/handlers/netsrv.rs
  services/apigateway/src/handlers/rulesrv.rs
  services/apigateway/src/handlers/system.rs
  services/apigateway/src/main.rs
  services/apigateway/src/response.rs
  services/apigateway/src/websocket/handlers/mod.rs
  services/apigateway/src/websocket/handlers/realtime.rs
  services/apigateway/src/websocket/hub.rs
  services/apigateway/src/websocket/mod.rs
  services/apigateway/src/websocket/protocol/codec.rs
  services/apigateway/src/websocket/protocol/messages.rs
  services/apigateway/src/websocket/protocol/mod.rs
  services/apigateway/src/websocket/server.rs
  services/apigateway/src/websocket/session.rs
  services/apigateway/start-with-config-service.sh
  services/apigateway/tests/integration_test.rs
  services/apigateway/tests/performance_test.rs
  services/apigateway/tests/reliability_test.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

清理项目过时文件和文档
  docs/CONFIGURATION_GUIDE.md
  docs/CONFIG_CENTER_ARCHITECTURE.md
  docs/CONFIG_CENTER_SERVICE_DESIGN.md
  docs/CONFIG_FRAMEWORK.md
  docs/CONFIG_QUICK_REFERENCE.md
  services/Hissrv/docs/architecture-design.md
  services/apigateway/Cargo.toml
  services/apigateway/docs/CONFIG_CLIENT_GUIDE.md
  services/apigateway/docs/CONFIG_SERVICE_API.md
  services/modsrv/Cargo.toml
  services/rulesrv/CLAUDE.md
Due: toml-check, markdown-check

feat: 实现API Gateway混合数据访问架构和InfluxDB集成
  README.md
  services/apigateway/Cargo.toml
  services/apigateway/README.md
  services/apigateway/apigateway.yaml
  services/apigateway/docs/redis-key-design.md
  services/apigateway/src/Cargo.toml.additions
  services/apigateway/src/config.rs
  services/apigateway/src/config_client.rs
  services/apigateway/src/data_access/cache.rs
  services/apigateway/src/data_access/hybrid.rs
  services/apigateway/src/data_access/mod.rs
  services/apigateway/src/data_access/sync.rs
  services/apigateway/src/error.rs
  services/apigateway/src/handlers/channels.rs
  services/apigateway/src/handlers/config.rs
  services/apigateway/src/handlers/mod.rs
  services/apigateway/src/influxdb_client.rs
  services/apigateway/src/main.rs
  services/apigateway/src/realtime.rs
  services/apigateway/src/redis_client.rs
  services/apigateway/src/websocket.rs
  services/apigateway/src/websocket/mod.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix: 移除modsrv中不存在的benchmark配置
  services/modsrv/Cargo.toml
Due: toml-check

chore: 清理过时的文档、测试文件和配置
  SERVICES_OVERVIEW.md
  services/Hissrv/POINTS_CONFIG.md
  services/apigateway/config/apigateway-test.yaml
  services/apigateway/tests/integration_test.rs
  services/comsrv/Dockerfile
  services/comsrv/docs/comsrv_data_structure_design.md
  services/comsrv/docs/pubsub-usage.md
  services/comsrv/docs/redis-storage.md
  services/modsrv/src/control_sender.rs
  services/modsrv/src/device_model/auto_config.rs
  services/modsrv/src/device_model/types.rs
  services/modsrv/src/redis_handler.rs
  services/modsrv/src/test_basic.rs
  services/modsrv/tests/comsrv_integration_test.rs
Due: rust-fmt, yaml-check, markdown-check

fix: 修复modsrv编译错误
  .cargo/config.toml
  services/modsrv/Cargo.toml
  services/modsrv/src/config.rs
  services/modsrv/src/device_model/dataflow.rs
  services/modsrv/src/error.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_handler.rs
  services/modsrv/tests/comsrv_integration_test.rs
Due: rust-fmt, toml-check

refactor: 简化alarmsrv架构，移除分类功能并实现自动告警触发
  services/alarmsrv/src/api/handlers.rs
  services/alarmsrv/src/api/models.rs
  services/alarmsrv/src/api/routes.rs
  services/alarmsrv/src/config.rs
  services/alarmsrv/src/csv_config.rs
  services/alarmsrv/src/domain/alarm.rs
  services/alarmsrv/src/domain/classification.rs
  services/alarmsrv/src/domain/mod.rs
  services/alarmsrv/src/domain/types.rs
  services/alarmsrv/src/influx/client.rs
  services/alarmsrv/src/influx/config.rs
  services/alarmsrv/src/influx/mod.rs
  services/alarmsrv/src/influx/storage.rs
  services/alarmsrv/src/lib.rs
  services/alarmsrv/src/main.rs
  services/alarmsrv/src/redis/alarm_store.rs
  services/alarmsrv/src/redis/client.rs
  services/alarmsrv/src/redis/indexes.rs
  services/alarmsrv/src/redis/queries.rs
  services/alarmsrv/src/redis/statistics.rs
  services/alarmsrv/src/services/escalation.rs
  services/alarmsrv/src/services/listener.rs
  services/alarmsrv/src/services/scanner.rs
  services/alarmsrv/tests/api_tests.rs
Due: rust-fmt

refactor(hissrv): 重构服务架构实现服务解耦和配置化数据处理
  cargo.toml
  services/Hissrv/config/hissrv.example.yaml
  services/Hissrv/src/api.rs
  services/Hissrv/src/config/mod.rs
  services/Hissrv/src/data_processor.rs
  services/Hissrv/src/enhanced_message_processor.rs
  services/Hissrv/src/influx_client.rs
  services/Hissrv/src/main.rs
  services/Hissrv/src/message_processor.rs
  services/Hissrv/src/redis_client.rs
  services/Hissrv/src/redis_subscriber.rs
  services/Hissrv/src/tests/integration_test.rs
  services/Hissrv/src/tests/redis_subscriber_test.rs
  services/Hissrv/src/tests/test_utils.rs
  services/Hissrv/src/tests/unit/message_processor_tests.rs
  services/Hissrv/src/types.rs
Due: rust-fmt, toml-check, yaml-check

feat:统一修改数结构
  docs/README.md
  docs/architecture/redis-data-structures.md
  docs/architecture/redis-storage-architecture.md
  services/Hissrv/src/config/mod.rs
  services/Hissrv/src/redis_subscriber.rs
  services/alarmsrv/src/redis/alarm_store.rs
  services/alarmsrv/src/redis/indexes.rs
  services/alarmsrv/src/redis/queries.rs
  services/alarmsrv/src/services/listener.rs
  services/comsrv/src/storage/publisher.rs
  services/comsrv/src/storage/storage.rs
  services/modsrv/src/model.rs
  services/modsrv/src/storage/types.rs
  services/rulesrv/src/redis/subscriber.rs
Due: rust-fmt, markdown-check

refactor: 移除quality字段，迁移到Redis Hash结构，统一服务命名规范
  .claude/ command/ComRebase.md
  CLAUDE.md
  apps/tauri-desktop/src/components/PointTable.vue
  apps/tauri-desktop/src/types/realtime.ts
  cargo.toml
  docs/architecture/redis-data-structures.md
  libs/Cargo.toml
  libs/src/influxdb/client.rs
  libs/src/redis/client.rs
  libs/src/types.rs
  services/Hissrv/README.md
  services/Hissrv/config/hissrv.yaml
  services/Hissrv/config/points.yaml
  services/Hissrv/src/api/mod.rs
  services/Hissrv/src/main.rs
  services/Hissrv/src/main_enhanced.rs
  services/apigateway/src/handlers/data.rs
  services/apigateway/src/realtime.rs
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/plugins/core.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
  services/comsrv/src/storage/publisher.rs
  services/comsrv/src/storage/storage.rs
  services/comsrv/src/storage/types.rs
  services/modsrv/src/cache/mod.rs
  services/modsrv/src/comsrv_interface.rs
  services/modsrv/src/storage/types.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

cleanup: 删除过时和重复文件
  apigateway.yml
  services/apigateway/config/apigateway.yaml
Due: yaml-check

refactor: 简化标准化库，移除服务特定的方法
  libs/src/types.rs
Due: rust-fmt

docs: 更新Redis数据结构文档，增加标准化库使用指南
  docs/architecture/redis-data-structures.md
Due: markdown-check

fix: 修复comsrv中使用新标准化库的方法调用
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/storage/publisher.rs
  services/comsrv/src/storage/storage.rs
  services/comsrv/src/storage/types.rs
  sync-all-worktrees.sh
Due: rust-fmt

fix: 修复modsrv所有clippy警告
  services/modsrv/Cargo.toml
  services/modsrv/src/api.rs
  services/modsrv/src/comsrv_interface.rs
  services/modsrv/src/config.rs
  services/modsrv/src/data_reader.rs
  services/modsrv/src/device_model/auto_config.rs
  services/modsrv/src/device_model/dataflow.rs
  services/modsrv/src/device_model/integration.rs
  services/modsrv/src/device_model/registry.rs
  services/modsrv/src/engine/mod.rs
  services/modsrv/src/model.rs
  services/modsrv/src/monitoring.rs
  services/modsrv/src/redis_handler.rs
  services/modsrv/src/storage/control.rs
  services/modsrv/src/storage/mod.rs
  services/modsrv/src/storage/monitor.rs
  services/modsrv/src/storage/rtdb.rs
  services/modsrv/src/storage/types.rs
  services/modsrv/src/template.rs
Due: rust-fmt, toml-check

docs: 重写所有服务文档以适配新的Redis Hash架构
  .claude/commands/ComRebase.md
  .claude/commands/redoc.md
  config/modsrv.yml
  services/Hissrv/README.md
  services/Hissrv/docs/architecture.md
  services/Hissrv/docs/influxdb-bridge.md
  services/alarmsrv/README.md
  services/alarmsrv/docs/alarm-rules.md
  services/alarmsrv/docs/architecture.md
  services/alarmsrv/docs/data_structures.md
  services/apigateway/README.md
  services/apigateway/docs/api-specification.md
  services/apigateway/docs/architecture.md
  services/apigateway/docs/redis-key-design.md
  services/apigateway/docs/websocket-protocol.md
  services/comsrv/README.md
  services/comsrv/docs/COMSRV_CONFIG_GUIDE.md
  services/comsrv/docs/MODBUS_OPTIMIZATION.md
  services/comsrv/docs/MODBUS_USER_GUIDE.md
  services/comsrv/docs/TRANSPORT_LAYER_ARCHITECTURE.md
  services/comsrv/docs/architecture.md
  services/comsrv/docs/comsrv启动流程.md
  services/comsrv/docs/four_telemetry_design.md
  services/comsrv/docs/protocol-plugins.md
  services/comsrv/docs/redis-interface.md
  services/modsrv/README.md
  services/modsrv/docs/architecture.md
  services/modsrv/docs/device-model.md
  services/modsrv/docs/redis-interface.md
  services/modsrv/src/test_basic.rs
  services/netsrv/README.md
  services/netsrv/docs/architecture.md
  services/netsrv/docs/data-formatting.md
  services/netsrv/docs/protocol-adapters.md
  services/rulesrv/README.md
  services/rulesrv/docs/api-reference.md
  services/rulesrv/docs/architecture.md
  services/rulesrv/docs/configuration-guide.md
  sync-all-worktrees.sh
Due: rust-fmt, yaml-check, markdown-check
