Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

fix(build): use musl for amd64 to fix Alpine compatibility
  .github/workflows/release.yml
  scripts/build-installer.sh
  tools/monarch/src/doctor.rs
  tools/monarch/src/main.rs
Due: rust-fmt, yaml-check

fix(install): improve architecture detection and Docker Compose compatibility
  scripts/build-installer.sh
  scripts/install.sh
Due: none

refactor: simplify modsrv errors and eliminate syncer.rs duplication
  Cargo.lock
  libs/common/src/test_utils/schema.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/product_handlers.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/config.rs
  services/modsrv/src/error.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/instance_redis_sync.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/src/routes.rs
  services/modsrv/tests/instance_crud_complete.rs
  services/modsrv/tests/instance_lifecycle_test.rs
  services/modsrv/tests/routing_integration_test.rs
  tools/monarch/Cargo.toml
  tools/monarch/src/core/exporter.rs
  tools/monarch/src/core/file_utils.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/lib_api/models.rs
  tools/monarch/src/models.rs
  tools/monarch/src/models/client.rs
  tools/monarch/src/models/csv_loader.rs
Due: rust-fmt, toml-check

perf(rules): optimize scheduler with Arc<Rule> and parallel execution
  Cargo.lock
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/src/scheduler.rs
Due: rust-fmt, toml-check

refactor(comsrv): implement lock-free diagnostics and Arc<DataBatch> optimization
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/j1939/client.rs
  services/comsrv/src/protocols/adapters/gpio.rs
  services/comsrv/src/protocols/adapters/iec104.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/adapters/opcua.rs
  services/comsrv/src/protocols/adapters/virtual_channel.rs
  services/comsrv/src/protocols/core.rs
  services/comsrv/src/protocols/core/diagnostics.rs
  services/comsrv/src/protocols/core/traits.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/rule_routes.rs
Due: rust-fmt

fix(clippy): use is_multiple_of() instead of manual modulo check
  services/comsrv/src/protocols/adapters/can/client.rs
Due: rust-fmt

fix(gpio): use MockGpioDriver in tests for hardware-independent testing
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt

refactor(comsrv): replace u32/4 internal ID encoding with explicit point_type field
  libs/voltage-model/src/keyspace.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/shared_impl.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/converters.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/protocols/adapters/can/config.rs
  services/comsrv/src/protocols/adapters/gpio.rs
  services/comsrv/src/protocols/adapters/iec104.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/adapters/opcua.rs
  services/comsrv/src/protocols/adapters/virtual_channel.rs
  services/comsrv/src/protocols/core/data.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/core/slot.rs
  services/comsrv/src/protocols/gateway/config.rs
  services/comsrv/src/protocols/gateway/factory.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/redis_state.rs
  tools/monarch/src/services.rs
Due: rust-fmt

适配influxdb3
  CHANGELOG.md
  README-CN.md
  README.md
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/hissrv/app/api/routes.py
  services/hissrv/app/core/config_loader.py
  services/hissrv/app/core/influxdb.py
  services/hissrv/app/models/__init__.py
  services/hissrv/app/models/data_models.py
  services/hissrv/app/services/data_storage.py
  services/hissrv/app/services/query_service.py
  services/hissrv/config/hissrv.yaml
  services/hissrv/requirements.txt
  tools/monarch/src/services.rs
Due: rust-fmt, yaml-check, markdown-check

chore: remove IGW legacy naming and clean up code redundancy
  Cargo.toml
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/converters.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/protocols.rs
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/j1939/client.rs
  services/comsrv/src/protocols/adapters/command_batcher.rs
  services/comsrv/src/protocols/adapters/gpio.rs
  services/comsrv/src/protocols/adapters/iec104.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/adapters/opcua.rs
  services/comsrv/src/protocols/adapters/virtual_channel.rs
  services/comsrv/src/protocols/config.rs
  services/comsrv/src/protocols/core/logging.rs
  services/comsrv/src/protocols/gateway/config.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/store.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/routing_loader.rs
  services/modsrv/src/rule_routes.rs
  tools/monarch/src/lib_api/channels.rs
  tools/monarch/src/lib_api/models.rs
Due: rust-fmt, toml-check

feat(rtdb): implement unified slot pool with dynamic allocation
  Cargo.lock
  libs/voltage-model/src/types.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rtdb/src/channel_index.rs
  libs/voltage-rtdb/src/instance_index.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/ring_buffer.rs
  libs/voltage-rtdb/src/routing_cache.rs
  libs/voltage-rtdb/src/shared_impl.rs
  libs/voltage-rtdb/src/slot_bitmap.rs
  libs/voltage-rtdb/src/unified_shm.rs
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/protocols/core/quality.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/product_handlers.rs
  services/modsrv/src/app_state.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/routing_loader.rs
  tools/monarch/src/shm.rs
Due: rust-fmt, toml-check

fix(can): update CAN adapters to use new SlotStore and DataPoint APIs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/can/config.rs
  services/comsrv/src/protocols/adapters/can/j1939/client.rs
Due: rust-fmt

fix(nginx): remove trailing slashes from proxy_pass URLs
  apps/nginx.conf
  apps/src/assets/styles/element/ele-date-picker.scss
  apps/src/assets/styles/element/ele-input.scss
  apps/src/views/Devices/DeviceBattery/BatteryManagement.vue
  apps/src/views/Devices/DeviceBattery/BatteryOverview.vue
Due: none

test: add unit tests for rtdb, comsrv, modsrv, and monarch
  libs/voltage-rtdb/tests/test_shm_direct_write.rs
  services/comsrv/tests/test_points_crud.rs
  services/modsrv/tests/test_product_api.rs
  tools/monarch/tests/test_import_export.rs
Due: rust-fmt

feat(simulator): add Modbus TCP/RTU simulator and comprehensive tests
  .github/workflows/rust-check.yml
  Cargo.lock
  Cargo.toml
  libs/voltage-sim/Cargo.toml
  libs/voltage-sim/src/generators.rs
  libs/voltage-sim/src/lib.rs
  scripts/ci-simulator-test.sh
  services/comsrv/src/protocols/adapters/gpio.rs
  services/comsrv/tests/test_bit_position_e2e.rs
  tools/simulator/Cargo.toml
  tools/simulator/scenarios/bms_charge.yaml
  tools/simulator/scenarios/bms_full.yaml
  tools/simulator/scenarios/genset_rtu.yaml
  tools/simulator/scenarios/modbus_protocol_verification.yaml
  tools/simulator/scenarios/multi_device.yaml
  tools/simulator/scenarios/network_fault.yaml
  tools/simulator/scenarios/pcs_full.yaml
  tools/simulator/scenarios/pcs_normal.yaml
  tools/simulator/scenarios/pv_daily.yaml
  tools/simulator/scripts/test_protocol_verification.py
  tools/simulator/src/coils.rs
  tools/simulator/src/devices.rs
  tools/simulator/src/main.rs
  tools/simulator/src/rtu_server.rs
  tools/simulator/src/scenarios.rs
  tools/simulator/src/server.rs
  tools/simulator/src/writable.rs
Due: rust-fmt, toml-check, yaml-check

fix(comsrv): use crates.io voltage_modbus instead of local path
  services/comsrv/Cargo.toml
Due: toml-check

fix(gpio): correct DataPoint field name and DataBatch access method
  Cargo.lock
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt

fix(gpio): use correct field name point_id for GpioPinConfig
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt

fix(gpio): allow dead_code for mock driver test helpers
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt

ci: refactor simulator-tests to e2e-tests for full integration flow
  .github/workflows/rust-check.yml
Due: yaml-check

feat(dl645): add DL/T 645-2007 protocol adapter with fixed point_id mapping
  Cargo.lock
  services/comsrv/Cargo.toml
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/dl645.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
Due: rust-fmt, toml-check

fix(ci): add modsrv to e2e-tests build step
  .github/workflows/rust-check.yml
Due: yaml-check

fix: address code quality issues from codebase analysis
  .github/actions/setup-rust-env/action.yml
  .github/workflows/rust-check.yml
  Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/keyspace.rs
  libs/voltage-rtdb/src/traits.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-sim/src/generators.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/trigger.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/config.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_redis_sync.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/src/redis_state.rs
  services/modsrv/src/reload.rs
  tools/monarch/src/lib_api/channels.rs
  tools/monarch/src/lib_api/models.rs
  tools/monarch/src/shm.rs
Due: rust-fmt, toml-check, yaml-check

fix(voltage-sim): replace expect() with poison recovery for Mutex locks
  Cargo.lock
  libs/common/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  libs/voltage-sim/Cargo.toml
  libs/voltage-sim/src/generators.rs
  services/comsrv/Cargo.toml
  tools/simulator/Cargo.toml
Due: rust-fmt, toml-check

feat(rtdb): add shared memory snapshot storage for persistence
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/shared_impl.rs
  libs/voltage-rtdb/src/snapshot.rs
  libs/voltage-rtdb/src/unified_shm.rs
  services/comsrv/src/main.rs
Due: rust-fmt

refactor: reorganize documentation and simplify monarch CLI
  .env.example
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  README-CN.md
  README.md
  apps/package-lock.json
  apps/src/api/__tests__/alarm.test.ts
  apps/src/api/alarm.ts
  apps/vite.config.ts
  docs/API_REFERENCE.md
  docs/CONFIG_FORMAT_GUIDE.md
  docs/GETTING_STARTED_DEVELOPMENT.md
  docs/MONARCH_CLI_GUIDE.md
  docs/README.md
  docs/websocket-rule-monitor-api.md
  libs/common/src/api_types.rs
  libs/errors/src/lib.rs
  services/comsrv/src/error.rs
  services/comsrv/src/lib.rs
  services/modsrv/src/error.rs
  tools/monarch/src/context.rs
  tools/monarch/src/lib_api/models.rs
  tools/monarch/src/main.rs
Due: rust-fmt, yaml-check, markdown-check

feat(core): add voltage-core and voltage-shm for firmware/gateway code sharing
  Cargo.lock
  Cargo.toml
  firmware/Cargo.toml
  firmware/memory.x
  firmware/src/main.rs
  libs/common/src/service_config.rs
  libs/voltage-core/Cargo.toml
  libs/voltage-core/src/codec.rs
  libs/voltage-core/src/codec/can.rs
  libs/voltage-core/src/codec/dl645.rs
  libs/voltage-core/src/frame.rs
  libs/voltage-core/src/lib.rs
  libs/voltage-core/src/shm.rs
  libs/voltage-core/src/types.rs
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/lib.rs
  libs/voltage-model/src/types.rs
  libs/voltage-shm/Cargo.toml
  libs/voltage-shm/src/lib.rs
  libs/voltage-shm/src/mmap.rs
  libs/voltage-shm/src/raw_ptr.rs
  libs/voltage-shm/src/traits.rs
Due: rust-fmt, toml-check

feat(comsrv): add channel-level file logging support
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/protocols/adapters/can/client.rs
  services/comsrv/src/protocols/adapters/dl645.rs
  services/comsrv/src/protocols/adapters/gpio.rs
  services/comsrv/src/protocols/adapters/iec104.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/adapters/opcua.rs
  services/comsrv/src/protocols/adapters/virtual_channel.rs
  services/comsrv/src/protocols/core.rs
  services/comsrv/src/protocols/core/file_logging.rs
  services/comsrv/src/protocols/gateway/runtime.rs
Due: rust-fmt

refactor: remove index.vue file and update nginx and Vite configurations
  apps/index.vue
  apps/nginx.conf
  apps/src/types/channelConfiguration.ts
  apps/src/utils/websocket.ts
  apps/src/views/Setting/Configuration/ChannelConfiguration/components/ChannelDetailDialog.vue
  apps/src/views/Setting/Configuration/ChannelConfiguration/components/PointsTablesDialog.vue
  apps/vite.config.ts
Due: none

fix: resolve multiple deployment bugs
  libs/voltage-rtdb/src/shared_impl.rs
  scripts/install.sh
  services/comsrv/src/core/reload.rs
  tools/monarch/src/services.rs
Due: rust-fmt

chore: misc fixes and improvements
  .gitignore
  Cargo.lock
  docker-compose.yml
  libs/common/src/logging.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/protocols/core/file_logging.rs
  tools/monarch/src/lib_api/channels.rs
Due: rust-fmt, yaml-check

fix: disambiguate connection_state in gpio tests
  services/comsrv/src/protocols/adapters/gpio.rs
Due: rust-fmt

fix: allow too_many_arguments for run_unified_channel_task
  services/comsrv/src/core/channels/channel_manager.rs
Due: rust-fmt

添加打包.run时可选部分服务功能 修改netsrv无法获取工控机SN码的问题
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
Due: yaml-check

refactor(comsrv): remove deprecated CommandTrigger
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/trigger.rs
Due: rust-fmt

feat: optimize rule executor and enhance logging system
  libs/common/src/logging.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/scheduler.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/core/channels/shm_listener.rs
  services/comsrv/src/core/channels/shm_poller.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/protocols/core/file_logging.rs
  services/comsrv/src/protocols/core/logging.rs
  services/comsrv/src/protocols/gateway/runtime.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/store/redis_store.rs
  services/modsrv/src/main.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt

test: add comprehensive test suite to improve coverage from 70% to 80+%
  .github/workflows/rust-check.yml
  codecov.yml
  libs/common/src/logging.rs
  scripts/coverage.sh
  scripts/quick-check.sh
  services/comsrv/src/error.rs
  services/comsrv/tests/test_channel_management.rs
  services/comsrv/tests/test_mapping_handlers.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/tests/test_config.rs
  services/modsrv/tests/test_rule_routes.rs
  tools/monarch/src/context.rs
  tools/monarch/src/core/file_utils.rs
  tools/monarch/src/main.rs
  tools/monarch/src/services.rs
  tools/monarch/src/shm.rs
  tools/simulator/src/rtu_server.rs
Due: rust-fmt, yaml-check

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
