Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

fix: 将根目录的cargo.toml重命名为Cargo.toml
  Cargo.toml
Due: toml-check

refactor: 清理过时文件和swagger相关代码
  services/Hissrv/Cargo.toml
  services/Hissrv/src/main.rs
  services/alarmsrv/src/bin/migrate_config.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/mod.rs
  services/comsrv/src/api/models.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/lib.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/api.rs
  services/modsrv/src/bin/modsrv_async.rs
  services/rulesrv/Cargo.toml
Due: rust-fmt, toml-check

fix: auto-fixes from linter
  libs/src/influxdb/client.rs
  services/modsrv/src/main.rs
Due: rust-fmt

feat: 完成COMSRV架构重构和四遥分离优化
  .claude/commands/ComRebase.md
  .claude/commands/redoc.md
  services/comsrv/Dockerfile
  services/comsrv/docker-compose.test.yml
  services/comsrv/docs/bitwise_parsing_test_guide.md
  services/comsrv/docs/point-mapping-guide.md
  services/comsrv/docs/redis-interface.md
  services/comsrv/scripts/check_redis_data.py
  services/comsrv/scripts/docker-test.sh
  services/comsrv/scripts/extract_bitwise_values.sh
  services/comsrv/scripts/run_docker_test.sh
  services/comsrv/scripts/start-modbus-simulator.py
  services/comsrv/scripts/verify_bitwise_values.py
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/core/config/loaders.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/core/mod.rs
  services/comsrv/src/core/transport/can.rs
  services/comsrv/src/core/transport/factory.rs
  services/comsrv/src/core/transport/gpio.rs
  services/comsrv/src/core/transport/mock.rs
  services/comsrv/src/core/transport/mod.rs
  services/comsrv/src/core/transport/serial.rs
  services/comsrv/src/core/transport/tcp.rs
  services/comsrv/src/core/transport/traits.rs
  services/comsrv/src/plugins/protocols/modbus/connection.rs
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/comsrv/src/plugins/protocols/modbus/mod.rs
  services/comsrv/src/plugins/protocols/modbus/plugin.rs
  services/comsrv/src/plugins/protocols/modbus/transport.rs
  services/comsrv/src/utils/error.rs
  services/comsrv/src/utils/mod.rs
  services/comsrv/tests/docker/Dockerfile.test
  services/comsrv/tests/docker/README.md
  services/comsrv/tests/docker/integration_test.py
  services/comsrv/tests/docker/modbus_simulator.py
  services/comsrv/tests/docker/performance_test.py
Due: rust-fmt, yaml-check, markdown-check

docs: 更新README和CLAUDE文档至最新架构
  CLAUDE.md
  Cargo.toml
  README.md
  services/Hissrv/Cargo.toml
  services/comsrv/Cargo.toml
  services/config-framework/Cargo.toml
  services/config-framework/README.md
  services/config-framework/src/base.rs
  services/config-framework/src/error.rs
  services/config-framework/src/lib.rs
  services/config-framework/src/loader.rs
  services/config-framework/src/migration.rs
  services/config-framework/src/sqlite_provider.rs
  services/config-framework/src/traits.rs
  services/config-framework/src/types.rs
  services/config-framework/src/validation.rs
  services/config-framework/src/watchers.rs
Due: rust-fmt, toml-check, markdown-check

fix: 修复hissrv目录大小写问题
  services/hissrv/Cargo.toml
  services/hissrv/Dockerfile
  services/hissrv/config/hissrv.test.yaml
  services/hissrv/config/hissrv.yaml
  services/hissrv/config/points.yaml
  services/hissrv/docker-compose.test.yml
  services/hissrv/docs/influxdb-bridge.md
  services/hissrv/src/config.rs
  services/hissrv/src/error.rs
  services/hissrv/src/main.rs
  services/hissrv/src/processor.rs
  services/hissrv/src/subscriber.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix: merge feature/comsrv with develop - keep comsrv changes
  Cargo.toml
  services/comsrv/Cargo.toml
  services/comsrv/Dockerfile
  services/comsrv/docs/bitwise_parsing_test_guide.md
  services/comsrv/docs/point-mapping-guide.md
  services/comsrv/docs/redis-interface.md
  services/comsrv/scripts/check_redis_data.py
  services/comsrv/scripts/extract_bitwise_values.sh
  services/comsrv/scripts/start-modbus-simulator.py
  services/comsrv/scripts/verify_bitwise_values.py
  services/comsrv/src/api/mod.rs
  services/comsrv/src/api/models.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/combase/manager.rs
  services/comsrv/src/core/combase/mod.rs
  services/comsrv/src/core/combase/storage.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/core/config/loaders.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/core/mod.rs
  services/comsrv/src/lib.rs
  services/comsrv/src/main.rs
  services/comsrv/src/plugins/core.rs
  services/comsrv/src/plugins/protocols/can/client.rs
  services/comsrv/src/plugins/protocols/iec60870/iec104.rs
  services/comsrv/src/plugins/protocols/modbus/connection.rs
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/comsrv/src/plugins/protocols/modbus/mod.rs
  services/comsrv/src/plugins/protocols/modbus/plugin.rs
  services/comsrv/src/plugins/protocols/modbus/transport.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
  services/comsrv/src/utils/error.rs
  services/comsrv/src/utils/mod.rs
Due: rust-fmt, toml-check, markdown-check

Apply stash changes and update CLAUDE.md
  CLAUDE.md
Due: markdown-check

docs: 添加comsrv配置指南和更新架构文档
  CLAUDE.md
  docs/README.md
  docs/architecture/redis-data-structures.md
  docs/architecture/system-architecture.md
  services/comsrv/docs/architecture.md
  services/comsrv/docs/configuration-guide.md
Due: markdown-check

refactor: 架构重构 - 移除 Transport 层并实现重连机制
  CLAUDE.md
  DOCKER_TEST_README.md
  docker-compose.test.yml
  docker-compose.yml
  services/comsrv/Dockerfile
  services/comsrv/docs/architecture.md
  services/comsrv/docs/config-refactor.md
  services/comsrv/docs/startup-flow.md
  services/comsrv/src/api/mod.rs
  services/comsrv/src/api/models.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/combase/core.rs
  services/comsrv/src/core/combase/factory.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/core/config/parameters.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/core/data_processor.rs
  services/comsrv/src/core/mod.rs
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/comsrv/src/plugins/protocols/modbus/transport.rs
  services/comsrv/src/plugins/protocols/virt/mod.rs
  services/comsrv/src/utils/mod.rs
  services/comsrv/tests/unit/config_test.rs
  services/comsrv/tests/unit/modbus_core_test.rs
  services/comsrv/tests/unit/plugin_storage_test.rs
  services/modsrv/docker/comsrv-simulator/Dockerfile
  test-config/comsrv-simple.yaml
  test-config/comsrv_new.yaml
  test-config/comsrv_new_fixed.yaml
Due: rust-fmt, yaml-check, markdown-check

refactor: 简化 comsrv API - 适配 API Gateway 架构
  services/comsrv/docs/api-simplification.md
  services/comsrv/src/api/models.rs
  services/comsrv/src/api/routes.rs
Due: rust-fmt, markdown-check

fix: 修复 clippy 警告和格式问题
  libs/src/utils.rs
  services/comsrv/src/api/models.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/comsrv/src/service/reconnect.rs
Due: rust-fmt

refactor: 清理 comsrv API 中所有废弃的数据模型
  services/comsrv/src/api/models.rs
Due: rust-fmt

refactor: 简化ModSrv为边端设备优化的轻量级服务
  docs/edge-device-implementation-plan.md
  docs/redis-lua-architecture.md
  libs/src/redis/edge_redis.rs
  libs/src/redis/mod.rs
  libs/src/types.rs
  scripts/edge_sync.lua
  services/modsrv/README.md
  services/modsrv/config/default.yml
  services/modsrv/docs/api-migration-guide.md
  services/modsrv/docs/architecture.md
  services/modsrv/docs/configuration-guide.md
  services/modsrv/src/api.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/mapping.rs
  services/modsrv/src/model.rs
  services/modsrv/src/websocket.rs
Due: rust-fmt, yaml-check, markdown-check

feat: 重构hissrv为极简轮询架构并添加配置管理功能
  CLAUDE.md
  services/hissrv/Cargo.toml
  services/hissrv/README.md
  services/hissrv/config/hissrv.yaml
  services/hissrv/docs/CONFIG_MANAGEMENT.md
  services/hissrv/docs/influxdb-bridge.md
  services/hissrv/scripts/archive_aggregator.lua
  services/hissrv/scripts/hissrv-config-examples.sh
  services/hissrv/scripts/hissrv_cron.sh
  services/hissrv/scripts/init_scripts.sh
  services/hissrv/scripts/test_hissrv.sh
  services/hissrv/src/api.rs
  services/hissrv/src/config.rs
  services/hissrv/src/error.rs
  services/hissrv/src/lib.rs
  services/hissrv/src/main.rs
  services/hissrv/src/poller.rs
  services/hissrv/src/processor.rs
  services/hissrv/src/subscriber.rs
  services/netsrv/Cargo.toml
Due: rust-fmt, toml-check, yaml-check, markdown-check

cleanup: 移除 hissrv 中的 Lua 脚本相关功能
  services/hissrv/README.md
  services/hissrv/config/hissrv.yaml
  services/hissrv/scripts/archive_aggregator.lua
  services/hissrv/scripts/hissrv_cron.sh
  services/hissrv/scripts/init_scripts.sh
  services/hissrv/scripts/test_hissrv.sh
Due: yaml-check, markdown-check

docs: 更新文档反映最新架构
  README.md
  docs/edge-device-implementation-plan.md
  docs/redis-lua-architecture.md
  services/hissrv/README.md
  services/modsrv/README.md
  services/modsrv/docs/api-migration-guide.md
Due: markdown-check

docs: 完善服务架构设计和改进方案
  CLAUDE.md
  README.md
  docs/services/alarmsrv-improvement.md
  docs/services/architecture-overview.md
  docs/services/comsrv-improvement.md
  docs/services/hissrv-improvement.md
  docs/services/modsrv-design.md
  docs/services/modsrv-improvement.md
  docs/services/netsrv-improvement.md
  docs/services/rulesrv-improvement.md
  libs/src/redis/edge_redis.rs
  scripts/comsrv_sync.lua
  scripts/data_processor.lua
  scripts/edge_sync.lua
  scripts/rule_engine.lua
  scripts/sync.lua
  services/alarmsrv/docs/改造方案.md
  services/apigateway/docs/改进方案.md
  services/comsrv/src/core/sync/lua_sync.rs
  services/hissrv/scripts/hissrv-config-examples.sh
  services/hissrv/scripts/test_hissrv.sh
  services/modsrv/docker/comsrv-simulator/config.json
  services/modsrv/docker/comsrv-simulator/requirements.txt
  services/modsrv/docker/comsrv-simulator/simulator.py
  tools/init_comsrv_mappings.sh
Due: rust-fmt, markdown-check

refactor: 大规模清理未使用代码，提升代码质量
  services/comsrv/src/plugins/protocols/modbus/core.rs
  services/modsrv/src/api.rs
  services/modsrv/src/main.rs
  services/modsrv/src/websocket.rs
  services/rulesrv/src/actions/control.rs
  services/rulesrv/src/actions/handler.rs
  services/rulesrv/src/api/simple_handlers.rs
  services/rulesrv/src/engine/executor.rs
  services/rulesrv/src/engine/simple_engine.rs
  services/rulesrv/src/main.rs
  services/rulesrv/src/redis/function_store.rs
  services/rulesrv/src/redis/mod.rs
  services/rulesrv/src/redis/store.rs
  services/rulesrv/src/redis/subscriber.rs
  services/rulesrv/src/rules/definition.rs
Due: rust-fmt

refactor: 全面清理代码库，遵循YAGNI原则
  libs/Cargo.toml
  libs/src/lib.rs
  libs/src/metrics.rs
  libs/src/test_utils.rs
  services/alarmsrv/Cargo.toml
  services/alarmsrv/src/main.rs
  services/apigateway/Cargo.toml
  services/apigateway/src/auth/middleware.rs
  services/apigateway/src/handlers/auth.rs
  services/apigateway/src/handlers/proxy.rs
  services/comsrv/Cargo.toml
  services/comsrv/src/api/mod.rs
  services/comsrv/src/core/config/core.rs
  services/comsrv/src/service/lifecycle.rs
  services/comsrv/src/utils/mod.rs
  services/modsrv/src/api.rs
  services/netsrv/Cargo.toml
  services/netsrv/src/main.rs
  services/rulesrv/Cargo.toml
  services/rulesrv/src/actions/control.rs
  services/rulesrv/src/actions/handler.rs
  services/rulesrv/src/actions/mod.rs
  services/rulesrv/src/api/handlers.rs
  services/rulesrv/src/api/mod.rs
  services/rulesrv/src/api/simple_handlers.rs
  services/rulesrv/src/engine/executor.rs
  services/rulesrv/src/engine/mod.rs
  services/rulesrv/src/engine/rule_engine.rs
  services/rulesrv/src/error.rs
  services/rulesrv/src/lib.rs
  services/rulesrv/src/main.rs
  services/rulesrv/src/redis/mod.rs
  services/rulesrv/src/redis/store.rs
  services/rulesrv/src/redis/subscriber.rs
  services/rulesrv/src/rules/definition.rs
  services/rulesrv/src/rules/mod.rs
  services/rulesrv/tests/api_test.rs
  services/rulesrv/tests/integration_test.rs
Due: rust-fmt, toml-check

fix: 修复CI构建错误 - 添加protoc安装步骤
  .github/workflows/ci-cd.yml
Due: yaml-check

fix: 修复clippy uninlined_format_args警告
  libs/src/config/utils.rs
  libs/src/redis/edge_redis.rs
Due: rust-fmt

feat: 添加完整的Git hooks和代码质量检查工具
  .cargo/config.toml
  .githooks/commit-msg
  .githooks/pre-commit
  .githooks/pre-push
  .github/workflows/ci-cd.yml
  README.md
  rustfmt.toml
  scripts/setup-hooks.sh
Due: toml-check, yaml-check, markdown-check

chore: 优化 Git hooks 配置
  .githooks/pre-push
Due: none

fix: 解决 CI 中 uninlined_format_args 警告问题
  .github/workflows/ci-cd.yml
  clippy.toml
Due: toml-check, yaml-check

fix: 解决 CI 与本地环境的 Rust 版本不一致问题
  rust-toolchain.toml
  services/comsrv/src/plugins/protocols/modbus/core.rs
Due: rust-fmt, toml-check

docs: 更新 README 中 Lua 脚本的真实情况
  README.md
Due: markdown-check

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
