Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

fix: add missing modbus_poll.rs — CI format check failure
  services/comsrv/src/protocols/adapters/modbus_poll.rs
Due: rust-fmt

fix: suppress clippy too_many_arguments in validate_routing_impl
  services/modsrv/src/instance_routing.rs
Due: rust-fmt

fix: commit .clippy.toml — unify local/CI clippy thresholds
  .clippy.toml
  .gitignore
Due: toml-check

fix: remove disallowed-methods from .clippy.toml for CI compatibility
  .clippy.toml
Due: toml-check

fix: add PV DCDC product name mapping + auto-sync submodules
  scripts/quick-check.sh
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

fix: dependency-aware service restart + sync change hint
  tools/monarch/src/main.rs
  tools/monarch/src/services.rs
Due: rust-fmt

fix: use native ARM64 runner for release CI
  .github/workflows/release.yml
Due: yaml-check

fix: prevent cross-arch cargo cache restore on ARM64 runner
  .github/workflows/release.yml
Due: yaml-check

feat: auto-reload services after monarch sync
  tools/monarch/src/main.rs
  tools/monarch/src/services.rs
Due: rust-fmt

fix: soften hierarchy validation to warn-only for flexible topologies
  services/modsrv/src/instance_manager.rs
Due: rust-fmt

fix: stabilize flaky seqlock concurrent test for CI coverage runs
  libs/voltage-rtdb-shm/src/vec_impl.rs
Due: rust-fmt

feat: add channel template API for point-table snapshot & apply
  libs/common/src/test_utils/schema.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/api/handlers/template_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/lib.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt

feat: add BLE (Bluetooth Low Energy) protocol adapter
  Cargo.lock
  services/comsrv/Cargo.toml
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/ble.rs
  services/comsrv/src/protocols/adapters/ble_config.rs
  services/comsrv/src/protocols/core/metadata.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
Due: rust-fmt, toml-check

feat: add Matter protocol adapter with UDP transport
  services/comsrv/Cargo.toml
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/matter.rs
  services/comsrv/src/protocols/adapters/matter_config.rs
  services/comsrv/src/protocols/core/metadata.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
Due: rust-fmt, toml-check

feat: add Zigbee protocol adapter via TCP gateway
  services/comsrv/Cargo.toml
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/zigbee.rs
  services/comsrv/src/protocols/adapters/zigbee_codec.rs
  services/comsrv/src/protocols/adapters/zigbee_config.rs
  services/comsrv/src/protocols/core/metadata.rs
  services/comsrv/src/protocols/core/point.rs
  services/comsrv/src/protocols/gateway/address.rs
  services/comsrv/src/protocols/gateway/factory.rs
Due: rust-fmt, toml-check

test: add unit tests for BLE, Zigbee, Matter protocol adapters
  services/comsrv/src/protocols/adapters/ble.rs
  services/comsrv/src/protocols/adapters/matter.rs
  services/comsrv/src/protocols/adapters/matter_config.rs
  services/comsrv/src/protocols/adapters/zigbee.rs
  services/comsrv/src/protocols/adapters/zigbee_codec.rs
Due: rust-fmt

feat: add OpenAPI/Swagger docs for template API + fix fmt
  services/comsrv/src/api/handlers/template_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/protocols/adapters/ble.rs
  services/comsrv/src/protocols/adapters/matter.rs
  services/comsrv/src/protocols/adapters/zigbee.rs
  services/comsrv/src/protocols/adapters/zigbee_codec.rs
Due: rust-fmt

ci: install libdbus-1-dev for BLE adapter compilation
  .github/actions/setup-rust-env/action.yml
Due: yaml-check

fix: replace approx_constant values in test code
  services/comsrv/src/protocols/adapters/ble.rs
  services/comsrv/src/protocols/adapters/zigbee.rs
  services/comsrv/src/protocols/adapters/zigbee_codec.rs
Due: rust-fmt

feat: enhance homepage functionality and update configurations
  apps/src/api/homepage.ts
  apps/src/assets/icons/icon-diesel-energy.svg
  apps/src/assets/icons/icon-energy-used.svg
  apps/src/assets/icons/icon-ess-energy.svg
  apps/src/assets/icons/icon-pv-energy.svg
  apps/src/assets/icons/icon-saving-billing.svg
  apps/src/components/card/EnergyCard.vue
  apps/src/types/home.ts
  apps/src/types/websocket.ts
  apps/src/utils/websocket.ts
  apps/src/views/HomeView/HomeBg.vue
  apps/src/views/HomeView/index.vue
  apps/src/views/Statistics/Overview.vue
  apps/vite.config.ts
Due: none

apigateway同步首页websocket，重启服务等功能 comsrv添加对私有协议voltage485的支持
  libs/voltage-model/src/product_lib.rs
  services/apigateway/app/core/calculated_points.sql
  services/apigateway/app/models/edge_data.py
  services/apigateway/app/routers/calculated_points.py
  services/apigateway/app/routers/config.py
  services/apigateway/app/services/database.py
  services/apigateway/app/tasks/data_scheduler.py
  services/apigateway/app/utils/formula_calculator.py
  services/apigateway/app/websocket/websocket_manager.py
  services/apigateway/main.py
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels/channel_creation.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/protocols/adapters.rs
  services/comsrv/src/protocols/adapters/voltage_485.rs
  services/comsrv/src/protocols/gateway/factory.rs
  services/comsrv/src/utils.rs
Due: rust-fmt, toml-check

fix BUG
  libs/voltage-model/src/product_lib.rs
  services/comsrv/src/core/channels/factory.rs
  services/comsrv/src/protocols/adapters/voltage_485.rs
Due: rust-fmt

code check fix
  services/comsrv/src/core/channels/factory.rs
Due: rust-fmt

refactor: simplify executor.rs and split channel_management_handlers into modules
  CLAUDE.md
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers/helpers.rs
  services/comsrv/src/api/handlers/channel_management_handlers/lifecycle.rs
  services/comsrv/src/api/handlers/channel_management_handlers/migration.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
Due: rust-fmt, markdown-check

chore: bump all crate versions to 0.1.9 to match latest tag
  firmware/Cargo.toml
  libs/common/Cargo.toml
  libs/errors/Cargo.toml
  libs/voltage-calc/Cargo.toml
  libs/voltage-core/Cargo.toml
  libs/voltage-infra/Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rules/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  libs/voltage-shm/Cargo.toml
  libs/voltage-sim/Cargo.toml
  services/comsrv/Cargo.toml
  services/modsrv/Cargo.toml
  tools/monarch/Cargo.toml
  tools/simulator/Cargo.toml
Due: toml-check

fix: ensure docker output directory exists before docker save
  Cargo.lock
  scripts/build-installer.sh
Due: none

fix: apply cargo fmt to satisfy CI format check
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
Due: rust-fmt

fix: enable swagger-ui feature for comsrv in installer build
  scripts/build-installer.sh
Due: none

fix: update build script comments to reflect comsrv swagger-ui support
  scripts/build-installer.sh
Due: none

fix: --with-swagger flag applies to all Rust services uniformly
  scripts/build-installer.sh
Due: none

feat: add protocol field to GET /api/channels/list response
  services/comsrv/src/api/handlers/channel_handlers.rs
Due: rust-fmt

docs: simplify CLAUDE.md project instructions
  CLAUDE.md
Due: markdown-check

fix: graceful degradation when log directory is unavailable
  libs/common/src/logging.rs
  services/alarmsrv/main.py
  services/netsrv/app/core/logger.py
  tools/monarch/src/services.rs
Due: rust-fmt

fix: improve build and installer scripts
  scripts/build-installer.sh
  scripts/install.sh
Due: none

feat: implement JSON mapper with JSONPath extraction and script fallback
  libs/voltage-script-host/example_solar.py
  libs/voltage-script-host/main.py
  services/comsrv/src/protocols/core.rs
  services/comsrv/src/protocols/core/json_mapper.rs
  services/comsrv/src/protocols/core/script_runner.rs
Due: rust-fmt

fix: replace 3.14 test literals to satisfy clippy approx_constant lint
  services/comsrv/src/protocols/core/json_mapper.rs
  services/comsrv/src/protocols/core/script_runner.rs
Due: rust-fmt
