Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

fix(rules): unify point field name to point_id + delete motor_control.yaml
  config.template/modsrv/rules/motor_control.yaml.example
  libs/voltage-rules/src/parser.rs
  libs/voltage-rules/src/types.rs
Due: rust-fmt

feat(monarch): default sync to upsert mode, --force for full replace
  tools/monarch/src/core.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/main.rs
Due: rust-fmt

fix(monarch): complete export with global, templates, and per-rule JSON files
  tools/monarch/src/core/exporter.rs
Due: rust-fmt

fix(monarch): export points/mappings from per-type tables
  tools/monarch/src/core/exporter.rs
Due: rust-fmt

fix(monarch): show date in Updated column when not today
  tools/monarch/src/top.rs
  tools/monarch/src/top_draw.rs
Due: rust-fmt

feat(monarch): add log file viewer with list/view/tail/ui commands
  libs/voltage-rules/src/formula.rs
  tools/monarch/src/logs.rs
  tools/monarch/src/logs_tui.rs
  tools/monarch/src/main.rs
Due: rust-fmt

refactor(model): relax name validation to blacklist-only approach
  libs/voltage-model/src/validation.rs
Due: rust-fmt

refactor(rtdb-shm): decouple SHM layout from routing via ChannelPointCounts
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb-shm/src/channel_points.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/shm_handle.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/tests/test_batch_direct.rs
  libs/voltage-rtdb-shm/tests/test_shm_direct_write.rs
  libs/voltage-rtdb-shm/tests/test_snapshot_roundtrip.rs
Due: rust-fmt, toml-check

refactor(rules): replace RPN evaluator with evalexpr infix engine
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
  libs/voltage-rules/src/lib.rs
Due: rust-fmt, toml-check

refactor(comsrv,modsrv): decouple routing from SHM rebuild
  services/comsrv/src/api/handlers/channel_management_handlers/migration.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/main.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/api/global_routing_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/single_point_handlers.rs
  services/modsrv/src/infra/comsrv_coordinator.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/tests/test_refresh_routing.rs
  services/modsrv/tests/test_shm_dispatch.rs
Due: rust-fmt, toml-check

chore: update CLAUDE.md, build script swagger flag, monarch shm open_raw
  CLAUDE.md
  Cargo.lock
  scripts/build-installer.sh
  tools/monarch/src/shm.rs
Due: rust-fmt, markdown-check

统一接口的规范，修改安装脚本适配当个服务测试更新。timescaledb适配pg17
  .github/workflows/release.yml
  Dockerfile
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/models.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/routes_broadcast.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_homepage.rs
  services/apigateway/src/routes_network.rs
  services/hissrv/src/models.rs
  services/hissrv/src/routes.rs
  services/netsrv/src/models.rs
  services/netsrv/src/routes.rs
  tools/monarch/src/services.rs
Due: rust-fmt, yaml-check

feat(monarch): support remote log viewing via HTTP API
  libs/common/src/admin_api.rs
  services/comsrv/src/api/routes.rs
  services/modsrv/src/routes.rs
  tools/monarch/src/logs.rs
Due: rust-fmt

PR fix
  libs/voltage-rules/src/parser.rs
  scripts/build-installer.sh
  scripts/install.sh
  tools/monarch/src/core/schema.rs
Due: rust-fmt

feat(resilience): SHM auto-rebuild, health 503, warning stats, SIGTERM, Redis retry
  .github/workflows/rust-check.yml
  libs/common/src/bootstrap_database.rs
  libs/common/src/lib.rs
  libs/common/src/service_config.rs
  libs/common/src/warning_monitor.rs
  scripts/quick-check.sh
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/point_handlers/point_query_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/main.rs
  services/comsrv/tests/test_channel_management.rs
  services/comsrv/tests/test_mapping_handlers.rs
  services/comsrv/tests/test_points_crud.rs
  services/hissrv/src/main.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/main.rs
  services/modsrv/tests/test_shm_dispatch.rs
  services/netsrv/src/main.rs
Due: rust-fmt, yaml-check

fix: SIGTERM handling, logging consolidation, admin API for auxiliary services
  services/alarmsrv/src/config.rs
  services/alarmsrv/src/main.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/config.rs
  services/apigateway/src/main.rs
  services/hissrv/src/config.rs
  services/hissrv/src/main.rs
  services/hissrv/src/routes.rs
  services/netsrv/src/config.rs
  services/netsrv/src/main.rs
  services/netsrv/src/routes.rs
Due: rust-fmt

fix: remove stale rebuild_writer from test mock, improve admin API and monarch CLI
  .dockerignore
  docker-compose.yml
  libs/common/src/admin_api.rs
  scripts/build-installer.sh
  scripts/install.sh
  services/comsrv/src/api/handlers/channel_management_handlers/migration.rs
  services/modsrv/tests/test_refresh_routing.rs
  tools/monarch/src/channels.rs
  tools/monarch/src/main.rs
  tools/monarch/src/routing.rs
  tools/monarch/src/rules.rs
Due: rust-fmt, yaml-check

fix: resolve 12 issues from multi-agent review
  .dockerignore
  docker-compose.yml
  services/comsrv/src/api/handlers/channel_management_handlers/migration.rs
  services/modsrv/tests/test_refresh_routing.rs
  tools/monarch/src/channels.rs
  tools/monarch/src/routing.rs
  tools/monarch/src/rules.rs
Due: rust-fmt, yaml-check

feat: enhance component definitions and update font assets
  apps/components.d.ts
  apps/src/api/System.ts
  apps/src/assets/fonts/Arimo-Italic-VariableFont_wght.ttf
  apps/src/assets/fonts/Arimo-Italic-VariableFont_wght.woff2
  apps/src/assets/fonts/Arimo-VariableFont_wght.ttf
  apps/src/assets/fonts/Arimo-VariableFont_wght.woff2
  apps/src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf
  apps/src/assets/fonts/Montserrat-Italic-VariableFont_wght.woff2
  apps/src/assets/fonts/Montserrat-VariableFont_wght.ttf
  apps/src/assets/fonts/Montserrat-VariableFont_wght.woff2
  apps/src/assets/styles/element/ele-input.scss
  apps/src/assets/styles/element/ele-switch.scss
  apps/src/assets/styles/fonts/index.scss
  apps/src/components/device/DeviceMonitoringTable.vue
  apps/src/views/Devices/DeviceMeter1/index.vue
  apps/src/views/Devices/DeviceMeter2/index.vue
  apps/src/views/Devices/DevicesPV/PVOverview.vue
  apps/src/views/Devices/DieselGenerator/DieselOverview.vue
  apps/src/views/HomeView/index.vue
  apps/src/views/Setting/SystemSetting/DataUpdataSetting.vue
  apps/src/views/Setting/SystemSetting/components/DataUploadDialog.vue
  apps/src/views/Setting/SystemSetting/components/TlsCertificateDialog.vue
  apps/src/views/Setting/SystemSetting/index.vue
  apps/src/views/Statistics/OperationLog.vue
Due: none

部分消息回复改英文，打包脚本修改，pg版本定位2.25.2-pg17 修复websocket消息无ts时间戳及首页订阅的问题
  docker-compose.yml
  scripts/build-installer.sh
  scripts/install.sh
  services/alarmsrv/src/monitor.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/main.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/routes_broadcast.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_homepage.rs
  services/apigateway/src/routes_network.rs
  services/apigateway/src/ws.rs
  services/hissrv/src/routes.rs
  services/netsrv/src/routes.rs
  tools/monarch/src/services.rs
Due: rust-fmt, yaml-check

fix: harden install permissions and build all 6 services in docker
  scripts/install.sh
  scripts/offline/build-docker-arm64.sh
Due: none

feat(monarch): add channels points CRUD and fix templates snapshot bug
  tools/monarch/src/channels.rs
  tools/monarch/src/templates.rs
Due: rust-fmt

refactor(comsrv): use async fs and await task handle on shutdown
  services/comsrv/src/core/channels/channel_entry.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/shm_listener.rs
Due: rust-fmt

fix(install): use gunzip pipe for docker load to avoid unpigz zlib error
  scripts/install.sh
Due: none

refactor: add cargo-hakari, resolver v3, startup dep check, and CI ignored-tests scan
  .github/workflows/rust-check.yml
  Cargo.lock
  Cargo.toml
  libs/common/Cargo.toml
  libs/common/src/dependency.rs
  libs/common/src/lib.rs
  libs/errors/Cargo.toml
  libs/voltage-calc/Cargo.toml
  libs/voltage-core/Cargo.toml
  libs/voltage-infra/Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb-shm/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rules/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  libs/voltage-shm/Cargo.toml
  libs/voltage-sim/Cargo.toml
  services/alarmsrv/Cargo.toml
  services/apigateway/Cargo.toml
  services/comsrv/Cargo.toml
  services/hissrv/Cargo.toml
  services/modsrv/Cargo.toml
  services/modsrv/src/bootstrap.rs
  services/netsrv/Cargo.toml
  tools/monarch/Cargo.toml
  tools/simulator/Cargo.toml
  workspace-hack/Cargo.toml
  workspace-hack/src/lib.rs
Due: rust-fmt, toml-check, yaml-check

docs: update CLAUDE.md with architecture insights from codebase analysis
  CLAUDE.md
Due: markdown-check

refactor(voltage-model): auto-discover product JSONs via build.rs
  libs/voltage-model/build.rs
  libs/voltage-model/src/product_lib.rs
Due: rust-fmt

perf(comsrv): async SHM→Redis flush, remove DashMap from hot path
  libs/voltage-rtdb-shm/src/batch_direct.rs
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/reverse_index.rs
  libs/voltage-rtdb-shm/src/shared_config.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/tests/test_batch_direct.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/src/store/shm_redis_sync.rs
  services/modsrv/src/api/health_handlers.rs
Due: rust-fmt

style: fix cargo fmt formatting
  libs/voltage-rtdb-shm/tests/test_batch_direct.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store/shm_redis_sync.rs
Due: rust-fmt

chore: update products submodule, gitignore, fix Rust 1.94 clippy lints
  .gitignore
  libs/common/src/service_config.rs
  libs/voltage-model/src/types.rs
  services/comsrv/src/api/dto.rs
  services/comsrv/src/protocols/gateway/runtime.rs
  services/comsrv/src/store/shm_redis_sync.rs
Due: rust-fmt

fix(ci): add missing hakari.toml for workspace-hack verification
  .gitignore
  .guppy/hakari.toml
Due: toml-check

fix(modsrv): relax product count assertions for extensible product list
  services/modsrv/src/product_loader.rs
Due: rust-fmt

fix(ci): add --force to cargo install cargo-hakari to avoid cache conflict
  .github/workflows/rust-check.yml
Due: yaml-check

fix(ci): skip cargo-hakari install if already cached
  .github/workflows/rust-check.yml
Due: yaml-check

fix(modsrv): relax product count assertions in integration tests
  services/modsrv/tests/test_product_api.rs
Due: rust-fmt

fix(modsrv): remove pointless product count assertions
  services/modsrv/src/product_loader.rs
  services/modsrv/tests/test_product_api.rs
Due: rust-fmt

docs: update data flow docs for async SHM→Redis architecture
  CLAUDE.md
  README.md
Due: markdown-check

docs: fix inaccuracies in CLAUDE.md and README from multi-agent review
  CLAUDE.md
  README.md
Due: markdown-check

fix(AlarmHistoryRecords): update placeholder text for better clarity
  apps/src/views/Alarm/AlarmHistoryRecords/index.vue
Due: none

feat(nginx): add new /hisApi/ location for historical data and update alarmApi comment
  apps/nginx.conf
  apps/src/assets/main.css
  apps/src/assets/styles/element/ele-select.scss
  apps/src/assets/styles/element/ele-table.scss
  apps/src/assets/styles/element/ele-tag.scss
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
