Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

feat(model): embed product library as git submodule
  .gitmodules
  Cargo.lock
  config.template/modsrv/products/Battery.json
  config.template/modsrv/products/Diesel.json
  config.template/modsrv/products/ESS.json
  config.template/modsrv/products/Env.json
  config.template/modsrv/products/Generator.json
  config.template/modsrv/products/Load.json
  config.template/modsrv/products/PCS.json
  config.template/modsrv/products/PV_DCDC.json
  config.template/modsrv/products/Station.json
  libs/voltage-model/Cargo.toml
  libs/voltage-model/src/lib.rs
  libs/voltage-model/src/product_lib.rs
Due: rust-fmt, toml-check

feat(modsrv): add explicit point_type field to routing API
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/routing_management_handlers.rs
Due: rust-fmt

fix(comsrv): allow clearing mapping by setting protocol_data to null
  services/comsrv/src/api/handlers/mapping_handlers.rs
Due: rust-fmt

refactor: clean up redundant code and consolidate routing types
  libs/voltage-model/src/keyspace.rs
  libs/voltage-routing/src/batch.rs
  libs/voltage-routing/src/lib.rs
  libs/voltage-routing/src/loader.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rtdb/src/routing_cache.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/tests/routing_m2c_test.rs
Due: rust-fmt

docs: fix rustdoc HTML tag warnings
  libs/common/src/logging.rs
  libs/voltage-comlink/src/traits.rs
  libs/voltage-schema-macro/src/lib.rs
  libs/voltage-schema-macro/src/types.rs
  libs/voltage-schema-macro/src/utils.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/traits.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/global_routing_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/product_loader.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

docs(comsrv): fix incomplete code examples in lifecycle.rs
  services/comsrv/src/runtime/lifecycle.rs
Due: rust-fmt

refactor(monarch): remove unused dead code
  tools/monarch/src/context.rs
  tools/monarch/src/main.rs
Due: rust-fmt

refactor: translate Chinese comments to English
  libs/common/src/serde_helpers.rs
  libs/voltage-model/src/types.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/protocols/modbus.rs
  services/comsrv/tests/routing_c2c_test.rs
  services/comsrv/tests/routing_c2m_test.rs
  services/modsrv/src/rule_routes.rs
  services/modsrv/tests/routing_m2c_test.rs
  tools/monarch/src/context.rs
  tools/monarch/src/lib_api/channels.rs
Due: rust-fmt

fix(comsrv): reorder batch point operations to DELETE → CREATE → UPDATE
  services/comsrv/src/api/handlers/point_handlers.rs
Due: rust-fmt

fix(python-services): unify SQLite database path configuration
  docker-compose.yml
  services/alarmsrv/app/core/config.py
  services/alarmsrv/app/core/database.py
  services/alarmsrv/main.py
  services/apigateway/Dockerfile
  services/apigateway/app/services/database.py
  services/apigateway/main.py
Due: yaml-check

fix(ci): enable git submodules checkout in all CI jobs
  .github/workflows/rust-check.yml
Due: yaml-check

refactor(comsrv): migrate data transformation to IGW layer
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/channels/point_config.rs
  services/comsrv/src/core/channels/sync.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/store.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt

fix(modsrv): correct column names in routing API queries
  services/modsrv/src/api/global_routing_handlers.rs
Due: rust-fmt

fix(routing): handle invalid channel_type gracefully in routing loader
  libs/voltage-routing/src/loader.rs
  tools/monarch/src/core/syncer.rs
Due: rust-fmt

feat(monarch): implement migration-only database policy
  scripts/install.sh
  tools/monarch/src/main.rs
Due: rust-fmt

ci(cd): add ARM64 release workflow
  .github/workflows/release-arm64.yml
Due: yaml-check

refactor(comsrv): simplify point handlers with wrapper pattern
  Cargo.lock
  libs/common/src/logging.rs
  libs/common/src/service_config.rs
  libs/voltage-rules/src/scheduler.rs
  scripts/quick-check.sh
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/error.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/config.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt, toml-check

feat(comsrv): add GPIO protocol support for DI/DO
  Cargo.lock
  docker-compose.yml
  scripts/build-arm64-installer.sh
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/channels/trigger.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/error.rs
Due: rust-fmt, toml-check, yaml-check

chore(comsrv): update igw to 0.2.4 with poll_once fix
  Cargo.lock
  services/comsrv/Cargo.toml
Due: toml-check

chore(comsrv): update igw to 0.2.5
  Cargo.lock
  services/comsrv/Cargo.toml
Due: toml-check

feat(comsrv): support sysfs/gpiod dual-driver GPIO architecture
  Cargo.lock
  Dockerfile
  scripts/build-arm64-installer.sh
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt, toml-check

CAN协议支持
  Cargo.lock
  config.template/comsrv/comsrv.yaml
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/config/sqlite_loader.rs
Due: rust-fmt, toml-check, yaml-check

refactor(comsrv): simplify point config conversion and install script
  Cargo.lock
  libs/common/src/logging.rs
  scripts/build-arm64-installer.sh
  scripts/install.sh
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/api/handlers/protocol_handlers.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/lib.rs
  services/modsrv/src/rule_routes.rs
Due: rust-fmt, toml-check

refactor(comsrv): use protocol_mappings JSON for CAN config
  .github/workflows/rust-check.yml
  CHANGELOG.md
  Cargo.lock
  README-CN.md
  README.md
  docker-compose.yml
  scripts/install.sh
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/config/sqlite_loader.rs
  services/modsrv/src/api/health_handlers.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

fix(comsrv): read gpio_number from protocol_mappings JSON
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt

fix(comsrv): GPIO/CAN polling improvements
  CHANGELOG.md
  Cargo.lock
  Dockerfile
  docker-compose.yml
  services/comsrv/Cargo.toml
  services/comsrv/src/api/handlers/point_handlers.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt, toml-check, yaml-check, markdown-check

chore: remove voltage_modbus and tokio-serial dependencies
  Cargo.lock
  Cargo.toml
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/igw_bridge.rs
  services/comsrv/src/core/config/types.rs
  services/comsrv/src/error.rs
  services/comsrv/src/store/redis_store.rs
Due: rust-fmt, toml-check

chore: update igw to 0.2.13
  services/comsrv/Cargo.toml
Due: toml-check

fix(comsrv): add gpio to default features
  services/comsrv/Cargo.toml
Due: toml-check

chore: bump igw to 0.2.14 (GPIO auto-resolve)
  Cargo.lock
Due: none

fix: correct volume mount path for data directory
  docker-compose.yml
Due: yaml-check

refactor(comsrv): replace Chinese log messages with English
  services/comsrv/src/core/channels/igw_bridge.rs
Due: rust-fmt

refactor(install): change default path to /opt/MonarchEdge and enable auto mode by default
  scripts/install.sh
Due: none

chore: optimize Cargo.toml dependencies
  Cargo.lock
  libs/voltage-calc/Cargo.toml
  services/comsrv/Cargo.toml
  services/modsrv/Cargo.toml
Due: toml-check

chore: unify clippy lints to workspace level
  Cargo.toml
  libs/common/Cargo.toml
  libs/errors/Cargo.toml
  libs/voltage-calc/Cargo.toml
  libs/voltage-infra/Cargo.toml
  libs/voltage-model/Cargo.toml
  libs/voltage-routing/Cargo.toml
  libs/voltage-rtdb/Cargo.toml
  libs/voltage-rules/Cargo.toml
  libs/voltage-schema-macro/Cargo.toml
  services/comsrv/Cargo.toml
  services/modsrv/Cargo.toml
  tools/monarch/Cargo.toml
Due: toml-check

fix(comsrv): use sysfs driver for GPIO (simpler global numbering)
  Cargo.toml
  Dockerfile
  libs/voltage-calc/Cargo.toml
  services/comsrv/Cargo.toml
  services/comsrv/src/core/channels/igw_bridge.rs
  services/modsrv/Cargo.toml
Due: rust-fmt, toml-check

fix(ci): replace non-existent 'monarch validate' with 'sync --dry-run'
  .github/workflows/rust-check.yml
Due: yaml-check
