Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

rust-fmt:
  run: cargo fmt --all -- --check

toml-check:
  run: "if command -v taplo &> /dev/null; then\n  taplo fmt --check {staged_files}\nelse\n  echo \"Warning: taplo not installed, skipping TOML formatting check\"\nfi\n"

yaml-check:
  run: "if command -v yamllint &> /dev/null; then\n  yamllint {staged_files}\nelse\n  echo \"Warning: yamllint not installed, skipping YAML check\"\nfi\n"

markdown-check:
  run: "if command -v markdownlint &> /dev/null; then\n  markdownlint {staged_files}\nelse\n  echo \"Warning: markdownlint not installed, skipping Markdown check\"\nfi\n"

fix(comsrv): clamp reconnect backoff factor before Duration::mul_f64
  services/comsrv/src/runtime/reconnect.rs
Due: rust-fmt

refactor(comsrv): drop initialize_channel_redis_storage zero-seeding
  services/comsrv/src/core/channels/channel_creation.rs
Due: rust-fmt

fix(calc,services): harden panic boundaries — Result/normalize/defense
  libs/voltage-calc/src/builtin_functions.rs
  libs/voltage-calc/src/evaluator.rs
  libs/voltage-calc/src/state.rs
  libs/voltage-rtdb-shm/src/shared_config.rs
  services/comsrv/src/api/handlers/point_handlers/point_helpers.rs
  services/comsrv/src/protocols/adapters/iec61850.rs
  services/comsrv/src/protocols/adapters/modbus_logging.rs
  services/hissrv/src/db_config.rs
  services/hissrv/src/models.rs
  services/hissrv/src/routes.rs
  services/netsrv/src/db_config.rs
  services/netsrv/src/forwarder.rs
  services/netsrv/src/models.rs
  services/netsrv/src/routes.rs
  tools/monarch/src/shm.rs
Due: rust-fmt

fix(comsrv): respawn hung channel tasks from watchdog
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/runtime/lifecycle.rs
Due: rust-fmt

fix(scripts): handle empty CARGO_FEATURE_ARGS under set -u
  scripts/build-installer.sh
Due: none

fix(comsrv): tie is_connected() to data freshness, not just TCP
  services/comsrv/src/core/channels/channel_entry.rs
  services/comsrv/src/core/channels/channel_task.rs
Due: rust-fmt

fix(comsrv,hissrv): stop writing fake zeros to Redis and TimescaleDB
  services/comsrv/src/store/redis_store.rs
  services/comsrv/src/store/shm_redis_sync.rs
  services/hissrv/src/collector.rs
Due: rust-fmt

fix(scripts): chown -R external log dir so containers can write on first boot
  scripts/install.sh
Due: none

fix(rules): skip cycle on missing measurement var instead of 0.0 fallback
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
Due: rust-fmt

fix(rules): execute_rule_change skips action when assignment value can't resolve
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
Due: rust-fmt

fix(shm,rules,modbus): NaN sentinel + propagate skip-don't-zero across remaining write paths
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rules/src/executor.rs
  services/comsrv/src/protocols/adapters/modbus.rs
  services/comsrv/src/store/shm_redis_sync.rs
Due: rust-fmt

fix(calc,monarch): NaN sentinel for "no baseline yet" + missing data
  libs/voltage-calc/src/builtin_functions.rs
  libs/voltage-calc/src/evaluator.rs
  tools/monarch/src/top.rs
  tools/monarch/src/top_draw.rs
Due: rust-fmt

fix: address review findings
  .github/workflows/claude-review.yml
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
  services/comsrv/src/core/channels/channel_entry.rs
Due: rust-fmt, yaml-check

feat(modsrv,alarmsrv): channel-offline guard for M2C control + alarm
  CLAUDE.md
  services/alarmsrv/src/models.rs
  services/modsrv/src/error.rs
  services/modsrv/src/infra/channel_health.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
Due: rust-fmt, markdown-check

fix(modsrv,alarmsrv): address review findings on channel-offline guard
  services/alarmsrv/src/routes.rs
  services/modsrv/src/infra/channel_health.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager_tests.rs
Due: rust-fmt

fix(ci): align E2E Phase 5 expectations with no-zero-seed contract
  scripts/ci-e2e-test.sh
Due: none

chore(gitignore): ignore redis runtime artifacts
  .gitignore
Due: none

chore(ci): remove Claude AI review/fix workflow
  .github/workflows/claude-review.yml
Due: yaml-check

docs(api): rewrite comsrv/modsrv Swagger docs from @tag dumps to prose
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers/lifecycle.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/api/handlers/control_handlers.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/mapping_handlers.rs
  services/comsrv/src/api/handlers/network_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_batch_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_crud_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_query_handlers.rs
  services/comsrv/src/api/handlers/protocol_handlers.rs
  services/comsrv/src/api/handlers/template_handlers.rs
  services/modsrv/src/api/cloud_sync.rs
  services/modsrv/src/api/global_routing_handlers.rs
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/product_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/routing_query_handlers.rs
  services/modsrv/src/api/single_point_handlers.rs
Due: rust-fmt

fix(modsrv,routing): close routing-reload TOCTOU in execute_action
  libs/voltage-routing/src/lib.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager_tests.rs
Due: rust-fmt

docs(api): document every Swagger endpoint in alarmsrv/apigateway/hissrv
  services/alarmsrv/src/routes.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/routes_broadcast.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_homepage.rs
  services/apigateway/src/routes_network.rs
  services/hissrv/src/routes.rs
Due: rust-fmt

docs(api): final pass — netsrv + rule_routes + remaining Tier2
  services/hissrv/src/routes.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/routing_query_handlers.rs
  services/modsrv/src/rule_routes.rs
  services/netsrv/src/routes.rs
Due: rust-fmt

chore(docs): purge remaining @input/@output/@throws/@side-effects tags
  services/comsrv/tests/test_service_integration.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/product_loader.rs
  services/modsrv/src/redis_state.rs
Due: rust-fmt

feat(modsrv): expose product properties in instance points API
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager_tests.rs
Due: rust-fmt

docs(api): translate Chinese Swagger doc comments to English
  services/alarmsrv/src/models.rs
  services/alarmsrv/src/routes.rs
  services/apigateway/src/main.rs
  services/apigateway/src/models.rs
  services/apigateway/src/routes_auth.rs
  services/apigateway/src/routes_broadcast.rs
  services/apigateway/src/routes_config.rs
  services/apigateway/src/routes_homepage.rs
  services/apigateway/src/routes_network.rs
  services/comsrv/src/api/handlers/channel_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers.rs
  services/comsrv/src/api/handlers/channel_management_handlers/lifecycle.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/api/handlers/point_handlers/point_crud_handlers.rs
  services/comsrv/src/api/handlers/point_handlers/point_query_handlers.rs
  services/comsrv/src/api/handlers/template_handlers.rs
  services/hissrv/src/backend_null.rs
  services/hissrv/src/models.rs
  services/hissrv/src/routes.rs
  services/modsrv/src/api/instance_query_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/single_point_handlers.rs
  services/netsrv/src/models.rs
  services/netsrv/src/routes.rs
Due: rust-fmt

feat(modsrv): dedicated instance_properties table + single-point P endpoints
  libs/common/src/test_utils/schema.rs
  libs/voltage-config/src/modsrv.rs
  services/modsrv/src/api/dto.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/api/property_handlers.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/routes.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt

feat(rules): OnChange trigger with time + value deadbands
  Cargo.lock
  Cargo.toml
  apps/components.d.ts
  apps/src/types/ruleManagement.ts
  apps/src/views/Alarm/RulesManagement/RulesOperationForm.vue
  docs/plans/2026-05-21-onchange-trigger.md
  libs/voltage-rules/Cargo.toml
  libs/voltage-rules/benches/README.md
  libs/voltage-rules/benches/onchange.rs
  libs/voltage-rules/src/lib.rs
  libs/voltage-rules/src/scheduler.rs
  services/modsrv/src/rule_routes.rs
Due: rust-fmt, toml-check, markdown-check

feat(db): schema v6 integrity pass + expose trigger_config in rule GET
  libs/common/src/test_utils/schema.rs
  libs/voltage-rules/src/repository.rs
  tools/monarch/src/core/schema.rs
Due: rust-fmt

feat(db): enforce FK + WAL at every SQLite pool via shared connect_options
  docs/plans/2026-05-15-inst-online-control-guard.md
  libs/common/src/bootstrap_database.rs
  services/alarmsrv/src/main.rs
  services/apigateway/src/main.rs
  services/comsrv/src/main.rs
  services/hissrv/src/main.rs
  services/netsrv/src/main.rs
  tools/monarch/src/core.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/main.rs
Due: rust-fmt, markdown-check

fix: remove redis-triggered control path
  apps/src/composables/__tests__/useWebSocket.test.ts
  apps/src/composables/useWebSocket.ts
  apps/src/types/websocket.ts
  apps/src/utils/__tests__/websocket.test.ts
  apps/src/utils/websocket.ts
  libs/voltage-routing/src/lib.rs
  libs/voltage-rules/src/executor.rs
  libs/voltage-rules/src/executor_tests.rs
  services/apigateway/src/ws.rs
  services/comsrv/src/core/channels/shm_listener.rs
  services/comsrv/src/runtime/cleanup_provider.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/tests/test_refresh_routing.rs
  services/modsrv/tests/test_shm_dispatch.rs
  tools/monarch/src/rtdb.rs
Due: rust-fmt

fix(comsrv): channel shutdown actually exits task loop
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/channel_task.rs
Due: rust-fmt

fix(comsrv): fail-closed on C/A write when command not dispatched
  services/comsrv/src/api/handlers/control_handlers.rs
Due: rust-fmt

feat(security): enforce JWT on apigateway WS/broadcast and nginx-proxied backends
  apps/nginx.conf
  services/apigateway/src/main.rs
  services/apigateway/src/middleware_auth.rs
  services/apigateway/src/routes_auth.rs
Due: rust-fmt

fix(shm): seed writer_generation with wall-clock nanos
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

fix(shm): enforce single-writer invariant in batch_direct
  libs/voltage-rtdb-shm/src/batch_direct.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  toml-check: any of: *.toml
  yaml-check: any of: *.{yml,yaml}
  markdown-check: any of: *.md
