Repository EvanL1/VoltageEMS: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, toml-check, yaml-check, markdown-check

lefthook.yml:

# Lefthook configuration for VoltageEMS
# https://github.com/evilmartians/lefthook

# 颜色输出
colors: true

# 跳过配置
skip_output:
  - meta
  - summary

# 预提交钩子
pre-commit:
  parallel: true
  commands:
    # Rust 格式化检查
    rust-fmt:
      glob: "*.rs"
      run: cargo fmt --all -- --check
      
    # 快速检查（替代 clippy）
    quick-check:
      run: ./scripts/quick-check.sh
      
    # TOML 文件检查
    toml-check:
      glob: "*.toml"
      run: |
        if command -v taplo &> /dev/null; then
          taplo fmt --check {staged_files}
        else
          echo "Warning: taplo not installed, skipping TOML formatting check"
        fi
      
    # YAML 文件检查
    yaml-check:
      glob: "*.{yml,yaml}"
      run: |
        if command -v yamllint &> /dev/null; then
          yamllint {staged_files}
        else
          echo "Warning: yamllint not installed, skipping YAML check"
        fi
        
    # Markdown 文件检查
    markdown-check:
      glob: "*.md"
      run: |
        if command -v markdownlint &> /dev/null; then
          markdownlint {staged_files}
        else
          echo "Warning: markdownlint not installed, skipping Markdown check"
        fi

# 提交消息检查
commit-msg:
  commands:
    conventional:
      run: |
        # 检查提交消息格式
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|chore|build|ci)(\(.+\))?: .{1,100}$'
        if ! grep -qE "$commit_regex" "$1"; then
          echo "提交消息格式错误！"
          echo "正确格式: <type>(<scope>): <subject>"
          echo "类型: feat, fix, docs, style, refactor, perf, test, chore, build, ci"
          echo "示例: feat(comsrv): add new modbus protocol support"
          exit 1
        fi

# 推送前检查
pre-push:
  parallel: false
  commands:
    # 运行推送前检查脚本
    pre-push-check:
      run: ./scripts/pre-push-check.sh

# 自定义脚本
scripts:
  # 安装开发工具
  "install:tools":
    runner: bash
    run: |
      echo "安装开发工具..."
      cargo install taplo-cli
      cargo install cargo-nextest
      brew install yamllint
      npm install -g markdownlint-cli
      
  # 运行完整的 CI 检查
  "ci:local":
    runner: bash
    run: |
      echo "运行本地 CI 检查..."
      earthly +ci

feat: add watchdog with auto-recovery, heartbeat liveness, and health enhancement
  services/comsrv/src/api/handlers/health.rs
  services/comsrv/src/core/channels/channel_entry.rs
  services/comsrv/src/core/channels/channel_task.rs
  services/comsrv/src/runtime/lifecycle.rs
  services/comsrv/src/runtime/reconnect.rs
Due: rust-fmt

style: apply cargo fmt to watchdog changes
  services/comsrv/src/core/channels/channel_task.rs
  services/comsrv/src/runtime/reconnect.rs
Due: rust-fmt

feat: enable Redis Unix socket for comsrv/modsrv hot path
  docker-compose.yml
  libs/common/src/config_loader.rs
  libs/common/src/service_config.rs
  services/comsrv/src/core/channels/shm_listener.rs
Due: rust-fmt, yaml-check

feat: refactor rtdb-shm notification API and update comsrv/modsrv consumers
  .github/workflows/release.yml
  .github/workflows/rust-check.yml
  Cargo.lock
  libs/voltage-rtdb-shm/src/lib.rs
  libs/voltage-rtdb-shm/src/notification.rs
  libs/voltage-rtdb-shm/src/notifier.rs
  libs/voltage-rtdb-shm/src/shm_handle.rs
  libs/voltage-rtdb-shm/src/snapshot.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  services/comsrv/src/api/handlers/channel_management_handlers/migration.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/core/channels/channel_creation.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/tests/test_channel_management.rs
  services/comsrv/tests/test_mapping_handlers.rs
  services/comsrv/tests/test_points_crud.rs
  services/comsrv/tests/test_service_integration.rs
  services/modsrv/Cargo.toml
  services/modsrv/src/api/global_routing_handlers.rs
  services/modsrv/src/api/routing_management_handlers.rs
  services/modsrv/src/api/single_point_handlers.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/main.rs
  services/modsrv/tests/test_instance_crud_complete.rs
  services/modsrv/tests/test_instance_lifecycle.rs
  services/modsrv/tests/test_product_api.rs
  services/modsrv/tests/test_routing_integration.rs
  services/modsrv/tests/test_uds_notification.rs
Due: rust-fmt, toml-check, yaml-check

fix: run Redis as root to fix Unix socket bind permission in CI
  docker-compose.yml
Due: yaml-check

feat: harden E2E test pipeline and add Modbus protocol readback
  scripts/ci-e2e-test.sh
  scripts/e2e_modbus_readback.py
Due: none

feat: add device state machine to simulator with Modbus write hooks
  docs/plans/2026-03-06-simulator-overhaul.md
  tools/simulator/src/main.rs
  tools/simulator/src/scenarios.rs
  tools/simulator/src/server.rs
  tools/simulator/src/state_machine.rs
Due: rust-fmt, markdown-check

feat: add HTTP state API, CAN LYNK sender, and J1939 sender to simulator
  tools/simulator/Cargo.toml
  tools/simulator/src/can_sender.rs
  tools/simulator/src/http_api.rs
  tools/simulator/src/j1939_sender.rs
  tools/simulator/src/main.rs
Due: rust-fmt, toml-check

feat: add CAN/J1939 E2E scenarios and readback verification script
  scripts/e2e_can_readback.py
  tools/simulator/scenarios/e2e_battery_can.yaml
  tools/simulator/scenarios/e2e_diesel_j1939.yaml
Due: yaml-check

fix: eliminate TOCTOU race in state machine and unify Arc ownership
  Cargo.lock
  tools/simulator/src/main.rs
  tools/simulator/src/server.rs
  tools/simulator/src/state_machine.rs
Due: rust-fmt

feat: complete P1/P2 review items for simulator overhaul
  Cargo.lock
  scripts/ci-e2e-test.sh
  scripts/e2e_can_readback.py
  tools/simulator/Cargo.toml
  tools/simulator/scenarios/e2e_diesel_j1939.yaml
  tools/simulator/src/can_sender.rs
  tools/simulator/src/http_api.rs
  tools/simulator/src/j1939_sender.rs
  tools/simulator/src/main.rs
  tools/simulator/src/state_machine.rs
Due: rust-fmt, toml-check, yaml-check

fix: fix simulator CI build errors on Linux (unused import + type mismatch)
  tools/simulator/src/can_sender.rs
  tools/simulator/src/j1939_sender.rs
Due: rust-fmt

fix: align cfg gates with feature flags and add Docker pre-push check
  tools/simulator/src/can_sender.rs
  tools/simulator/src/j1939_sender.rs
  tools/simulator/src/main.rs
Due: rust-fmt

fix: fix Redis socket permission and E2E test review findings
  docker-compose.yml
  scripts/ci-e2e-test.sh
  scripts/e2e_modbus_readback.py
Due: yaml-check

fix: harden E2E test Phase 6 routing and Phase 9 reset verification
  scripts/ci-e2e-test.sh
Due: none

fix(rtdb-shm): fix unsafe soundness in ring buffer and snapshot restore
  libs/voltage-rtdb-shm/src/ring_buffer.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
Due: rust-fmt

refactor(comsrv): extract ChannelPollContext to reduce function parameter count
  services/comsrv/src/core/channels/channel_entry.rs
  services/comsrv/src/core/channels/channel_task.rs
Due: rust-fmt

refactor(modsrv): deduplicate Redis sync via Acquire trait generalization
  services/modsrv/src/instance_redis_sync.rs
Due: rust-fmt

fix(modsrv): eliminate TOCTOU races, harden error handling and API safety
  services/modsrv/src/api/health_handlers.rs
  services/modsrv/src/api/instance_management_handlers.rs
  services/modsrv/src/config.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/src/main.rs
  services/modsrv/src/reload.rs
  services/modsrv/src/rule_routes.rs
  services/modsrv/tests/test_instance_crud_complete.rs
  services/modsrv/tests/test_instance_lifecycle.rs
  services/modsrv/tests/test_routing_integration.rs
Due: rust-fmt

fix(comsrv): filter by point_type in Modbus write_control/write_adjustment
  services/comsrv/src/protocols/adapters/modbus.rs
Due: rust-fmt

fix(e2e): use instance_name field in Phase 6 name verification
  scripts/ci-e2e-test.sh
Due: none

refactor(modsrv): extract infra/runtime layers, wire ShmDispatch+ComsrvCoordinator
  services/modsrv/src/app_state.rs
  services/modsrv/src/bootstrap.rs
  services/modsrv/src/infra/comsrv_coordinator.rs
  services/modsrv/src/infra/instance_repository.rs
  services/modsrv/src/infra/redis_sync.rs
  services/modsrv/src/infra/routing_repository.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/instance_manager_tests.rs
  services/modsrv/src/instance_routing.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/main.rs
  services/modsrv/src/runtime/dynamic_slot_runtime.rs
  services/modsrv/src/runtime/routing_runtime.rs
  services/modsrv/tests/test_instance_crud_complete.rs
  services/modsrv/tests/test_instance_lifecycle.rs
  services/modsrv/tests/test_routing_integration.rs
Due: rust-fmt

refactor(modsrv): delete unwired skeletons, wire DynamicSlotRuntime
  services/modsrv/src/infra/instance_repository.rs
  services/modsrv/src/infra/redis_sync.rs
  services/modsrv/src/infra/routing_repository.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/lib.rs
  services/modsrv/src/runtime/routing_runtime.rs
Due: rust-fmt

fix(modsrv): address code review — DispatchOutcome observability, SHM consistency
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/runtime/dynamic_slot_runtime.rs
Due: rust-fmt

fix(modsrv): propagate comsrv reload error, remove phantom TODO queue references
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt

fix(modsrv): correct SHM refresh ordering, remove dead code
  services/modsrv/src/instance_manager.rs
  services/modsrv/src/main.rs
  services/modsrv/src/runtime/dynamic_slot_runtime.rs
Due: rust-fmt

fix(comsrv,modsrv): delete dead ShmCommandPoller, fix misleading M2C fallback comments
  services/comsrv/src/core/channels.rs
  services/comsrv/src/core/channels/channel_creation.rs
  services/comsrv/src/core/channels/channel_manager.rs
  services/comsrv/src/core/channels/shm_poller.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/main.rs
Due: rust-fmt

fix(docs): purge all stale M2C fallback/polling references across codebase
  README-CN.md
  README.md
  libs/voltage-rtdb-shm/src/notifier.rs
  libs/voltage-rtdb/src/lib.rs
  libs/voltage-rules/src/executor.rs
  services/comsrv/src/api/command_cache.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/main.rs
Due: rust-fmt, markdown-check

fix(modsrv,comsrv): harden M2C dispatch observability and notifier resilience
  CLAUDE.md
  libs/voltage-rtdb-shm/src/notifier.rs
  services/comsrv/src/core/channels/shm_listener.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/main.rs
Due: rust-fmt, markdown-check

refactor(modsrv): replace DispatchOutcome 3-bool struct with enum
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt

fix(modsrv): harden M2C dispatch safety — error propagation, stale writer clear, refresh lock
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_data.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt

fix(comsrv): use OS-assigned port in integration tests to eliminate flaky port conflicts
  services/comsrv/tests/test_service_integration.rs
Due: rust-fmt

fix(shm): harden shared memory safety for ARM64 weak memory model
  docs/plans/2026-03-11-shm-hardening.md
  libs/voltage-rtdb-shm/src/ring_buffer.rs
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb-shm/tests/test_ring_buffer_ordering.rs
  libs/voltage-rtdb-shm/tests/test_seqlock_dirty.rs
  services/modsrv/src/infra/shm_dispatch.rs
  services/modsrv/src/instance_manager.rs
Due: rust-fmt, markdown-check

perf(shm): zero-cost seqlock — eliminate mfence/lock on x86
  docs/plans/2026-03-12-seqlock-zero-cost.md
  libs/voltage-rtdb-shm/src/unified_shm.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb-shm/tests/test_seqlock_dirty.rs
Due: rust-fmt, markdown-check

test: add 42 integration tests covering critical M2C/C2M data paths
  libs/voltage-routing/tests/test_routing_loader.rs
  libs/voltage-rtdb-shm/src/vec_impl.rs
  libs/voltage-rtdb-shm/tests/test_seqlock_dirty.rs
  libs/voltage-rtdb-shm/tests/test_snapshot_roundtrip.rs
  services/comsrv/tests/test_shm_listener.rs
  services/comsrv/tests/test_validate_value.rs
  services/modsrv/tests/test_refresh_routing.rs
  services/modsrv/tests/test_shm_dispatch.rs
Due: rust-fmt

fix(docs): sync documentation with current M2C architecture
  CLAUDE.md
  README-CN.md
  README.md
  docs/architecture/openclaw-comparison.md
Due: markdown-check

fix(docs,tests): purge ghost architecture remnants
  docs/architecture/openclaw-comparison.md
  services/modsrv/tests/common.rs
  tools/monarch/tests/test_import_export.rs
Due: rust-fmt, markdown-check

refactor(tools,keyspace): purge dead keys + tombstones + update CHANGELOG
  CHANGELOG.md
  libs/voltage-model/src/keyspace.rs
  tools/monarch/src/core/schema.rs
  tools/monarch/src/core/syncer.rs
  tools/monarch/src/models/client.rs
  tools/monarch/src/models/csv_loader.rs
  tools/monarch/src/shm.rs
  tools/monarch/tests/test_import_export.rs
Due: rust-fmt, markdown-check

refactor(comsrv): purge tombstone comments, ghost imports, dead can_retry
  libs/common/src/api_types.rs
  libs/common/src/test_utils/schema.rs
  libs/voltage-calc/src/state.rs
  libs/voltage-routing/src/routing_cache.rs
  libs/voltage-rtdb/tests/test_consistency.rs
  libs/voltage-rules/src/executor.rs
  services/comsrv/src/api/handlers/channel_management_handlers/lifecycle.rs
  services/comsrv/src/api/handlers/channel_management_handlers/reload.rs
  services/comsrv/src/api/routes.rs
  services/comsrv/src/api/routes_tests.rs
  services/comsrv/src/core/channels/types.rs
  services/comsrv/src/core/config/manager.rs
  services/comsrv/src/main.rs
  services/comsrv/src/runtime/test_utils.rs
  services/comsrv/src/store/redis_store.rs
  services/comsrv/tests/test_points_crud.rs
Due: rust-fmt
